---
title: Angular Meetups in Deutschland, Östereich & Schweiz
description: Auf dieser Seite findet ihr eine Liste von allen Meetups in der DACH Region! Finde dein Meetup in deiner Nähe!
layout: base
newsletter: false
---

{% assign sum = 0 %}
{% assign count = 0 %}
{% for meetup in site.data.meetups %}
  {% assign sum = sum | plus: meetup.members %}
  {% assign count = count | plus: 1 %}
{% endfor %}



<header class="header mt-5">
  <div class="header__content">
    <img class="header__logo" src="{{ "/assets/img/angular-de-logo.svg" | prepend: site.baseurl }}"
      alt="ng-de Conference Logo" title="ng-de Conference Logo">
    <h1 class="header__title">Angular Meetups in DACH</h1>
    <h2 class="header__description">Bereits {{ sum }} Mitglieder! Sei dabei!</h2>
  </div>
</header>

<div class="container">
    <div class="lead mb-5">
      <h3 class="lead__headline">Werde Teil der Angular Community aus Deutschland, Österreich und der Schweiz</h3>
      <p class="lead__content">
        Neben den technischen Features wird innerhalb der Angular Community ein starker Fokus auf die Gemeinschaft und den Austausch gelegt.
        Mit {{count}} Meetups sind wir im deutsprachingen Bereich überall in Deutschland vertreten!
        Gemeinsam lernen und wachsen, jeder ist willkommen!
        Wir haben vergessen dein Meetup hier aufzulisten? Kein Problem! Schick uns einfach eine Mail oder melde dich via Twitter bei uns!
      </p>
    </div>
  </div>
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 600px;
        width: 100%;
      }
    </style>
    <div class="container mb-5">
      <div id="map"></div>
    </div>
<script>
  var map, heatmap;
  function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 50.52, lng: 12.38},
          mapTypeId: 'hybrid'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map,
          radius: 50
        });

        heatmap.setMap(map);
      }

        function getPoints() {
          // {{sum}}
          return [
            {% for meetup in site.data.meetups %}
            // {{meetup.members}}
            // {{meetup.members | times: 100 | divided_by: sum}}
              {location:new google.maps.LatLng({{meetup.lat}}, {{meetup.lon}}),  weight: {{meetup.members | times: 100 | divided_by: sum}}},
            {% endfor %}
          ]
        };

 </script>
 <script async defer type="text/javascript"
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArgxgu1qg78Xw-1iBMYFWCxtFXKvuZTVY&libraries=visualization&callback=initMap">
</script>



<div class="container">
    <div class="row">
  {% for meetup in site.data.meetups %}
  <div class="card h-100 col-lg-4 col-md-6 col-12">
      <a class="c-img-post"
            style="height: 150px; background-image: url('{{  meetup.key_photo.photo_link }}');"
            href="{{ meetup.link }}">
        <span class="c-post-categories">
            <span class="text-uppercase">{{meetup.city}}</span>
        </span>
      </a>
      <a class="card-body text-dark" href="{{ meetup.link }}"  target="_blank">
        <div class="text-muted">{{ meetup.members }} {{ meetup.who }}</div>
        <span class="font-weight-bold">
        {{ meetup.name }}
        </span>
      </a>
    </div>
  {% endfor %}
  </div>
</div>
<hr>
{% include _slack.html %}