{% for user_hash in site.data.users %}{% assign user = user_hash[1] %}{% if user.name == include.name %}

<div class="col-lg-6 col-md-6 col-sm-12 mb-5">
  <div class="card h-100">

    <div class="card-body">
      <div class="row">
        <div class="col-3 text-center mb-2">
          <img alt="{{ user.name }}" class="shadow-sm rounded img-fluid" height="130" src="/assets/img/gravatars/{{ user.gravatar_uid }}-300x300.jpg"
                width="130">
        </div>
        <div class="col-9 mb-2">
          <h2 class="h3">{{ user.name }}</h2>
          <p>{{ user.intro }}</p>
          <p class="text-muted">{{ user.bio }}</p>
        </div>
      </div>

    </div>
  </div>
</div>

{% endif %}{% endfor %}
