{% for user_hash in site.data.users %}{% assign user = user_hash[1] %}{% if user.name == include.name %}

<div class="col-lg-6 col-md-12 col-sm-12 mb-5">
  <div class="card h-100">

    <div class="card-body">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 text-center mb-2">
          <img alt="{{ user.name }}" class="shadow-sm rounded img-fluid d-md-inline" height="130" src="/assets/img/gravatars/{{ user.gravatar_uid }}-300x300.jpg"
                width="130">
            {% if user.gde == true %}
              <img class="d-md-inline" width="100%" src="/assets/img/gde-logo.png" />
            {% endif %}
        </div>
        <div class="col-9 col-sm-9 col-md-9 mb-2">
          <h2 class="h3">{{ user.name }}</h2>
          <p>{{ user.intro }}</p>
          {% if user.why_angular_de_team %}
            <a class="text-muted" href="/team/{{user.permalink}}/">Mehr erfahren ...</a>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>

{% endif %}{% endfor %}
