---
layout: base
title: Das Team von Angular.DE
noindex: true
description: Wir sind ein Team aus Angular-Enthusiasten. Lerne uns hier kennen!
---

<div class="header header-team bg-light c-header-dark">
  <div class="container">
    <h1 class="align-self-center display-4">
      Das Team von <span class="font-weight-bold">Angular.DE</span>
    </h1>
  </div>
</div>

<main role="main">
  <div class="container">
    <div class="row">
      {% include_relative _team_member.html name="Robin Böhm" %}
      {% include_relative _team_member.html name="Sascha Brink" %}
      {% include_relative _team_member.html name="David Müllerchen" %}
      {% include_relative _team_member.html name="Peter Müller" %}
      {% include_relative _team_member.html name="Britta Lenzen" %}
    </div>
  </div>
</main>
