---
layout: base
title: Das Team von Angular.DE
noindex: true
description: Wir sind ein Team aus Angular-Enthusiasten die ihr Wissen auf Meetups, Konferenzen und in Schulungen weitergeben. Lerne uns hier kennen!
---

<div class="header header-team bg-light c-header-dark">
  <div class="container">
    <h1 class="align-self-center display-4">
      Das Team von <span class="font-weight-bold">Angular.DE</span>
    </h1>
  </div>
</div>

<main role="main">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12"><h2>Wer sind wir?</h2></div>
      <div class="col-sm-12 col-md-12 col-ld-6">
        <p>
            Wir sind eine deutsche Trainer Community
            Unsere Workshops behandeln Technologien wie Angular, React und angrenzende Technologien welche uns in Web-Projekten produktiv machen .
            Durch das teilen und gegenseitige Erweitern unserer Materialien können wir die Qualität unser Workshops immer weiterentwickeln.
            Wir bieten zu verschiedenen Themen Lernmodule welche wir frei kombinieren und je nach aktueller Anforderung perfekt an euch anpassen können.
        </p>
        <p>
            Durch kleine Lerngruppen und interaktive Aufgaben kann der Lernfortschritt von jedem Teilnehmer optimal unterstützt werden.
            Unsere Materialien sprechen bewusst die verschiedenen Lerntypen auf ihre jeweils spezielle Weise an und folgen einem klaren Muster,
            welches stets die eigene Umsetzung in einem Übungskontext vorsieht.
            In dieser Zeit kann sich der Trainer individuell um jeden Teilnehmer kümmern und aufkommende Fragen beantworten oder andere Hilfestellungen geben.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-ld-6 text-center">
        <iframe class="header__video" width="100%" height="315" style="max-width: 515px;" src="https://www.youtube-nocookie.com/embed/i_I-yVT7ajU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><h2>Das Team stellt sich vor</h2></div>
      {% include_relative _team_member.html name="Robin Böhm" %}
      {% include_relative _team_member.html name="David Müllerchen" %}
      {% include_relative _team_member.html name="Gregor Woiwode" %}
      {% include_relative _team_member.html name="Martina Kraus" %}
      {% include_relative _team_member.html name="Pawel Sawicki" %}
      {% include_relative _team_member.html name="Peter Müller" %}
      {% include_relative _team_member.html name="Markus Ende" %}
      {% include_relative _team_member.html name="Christian Liebel" %}
      {% include_relative _team_member.html name="Christoph Höller" %}
      {% include_relative _team_member.html name="Aaron Czichon" %}
      {% include_relative _team_member.html name="Björn Wilmsmann" %}
      {% include_relative _team_member.html name="Erfan Nazmehr" %}
      {% include_relative _team_member.html name="Nico König" %}
      {% include_relative _team_member.html name="Peter Bouda" %}
      {% include_relative _team_member.html name="Sebastian Kleinschmager" %}
      {% include_relative _team_member.html name="Timo Korinth" %}
      {% include_relative _team_member.html name="Dominik Hirt" %}
    </div>
  </div>
</main>
