---
layout: base
title: Angular & TypeScript Intensiv-Schulung (3 Tage)
course:
  topic:
  subtitle:
  image_url:
description: Du möchtest Angular in nur 3 Tagen lernen? Angular ist der Nachfolger von AngularJS. Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /workshops/angular-intensiv/
---

<main role="main" class="bg-light workshop">

{% include_relative workshop/_header.html %}

{% include_relative workshop/_clients.html %}
{% include_relative workshop/_intro.html %}

{% include_relative workshop/_what.html %}

{% include_relative workshop/_testimonials.html %}
{% include_relative workshop/_why.html %}

{% include_relative workshop/_testimonials_dev.html %}
{% include_relative workshop/_benefits-developer.html %}

{% include_relative workshop/_ratings.html %}

{% include_relative workshop/_trainers.html %}

{% include_relative workshop/_agenda.html %}

{% include_relative workshop/_faq.html %}

{% include_relative workshop/_training-schedule.html %}

</main>
