---
layout: base
title: Angular & TypeScript Intensiv-Workshop (3 Tage)
course:
  topic:
  subtitle:
  image_url:
description: Du möchtest Angular in nur 3 Tagen lernen? Angular ist der Nachfolger von AngularJS. Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /workshops/angular-intensiv/
---

<main role="main">

{% include_relative workshop/_header.html %}

{% include_relative workshop/_intro.html %}

{% include_relative workshop/_what.html %}

{% include_relative workshop/_clients.html %}

{% include_relative workshop/_why.html %}

{% include_relative workshop/_testimonials.html %}

{% include_relative workshop/_benefits-developer.html %}

{% include_relative workshop/_trainers.html %}

{% include_relative workshop/_agenda.html %}

{% include_relative workshop/_requirements.html %}

{% include_relative workshop/_questions.html %}

{% include_relative workshop/_training-schedule.html %}

</main>