---
title: Artikel
noindex: true
sitemap: false
pagination:
  enabled: true
  per_page: 3
---

{% include event_json_ld.html %}

<hr>
<h1>paginator</h1>
{% for post in paginator.posts %}
  <h1>{{ post.title }}</h1>
{% endfor %}
<hr>


<form action="/suche" method="get" class="hidden-md-up mb-2">
  <input type="text" class="form-control article-search" name="q" placeholder="Artikel durchsuchen">
</form>

<div class="row">
  <div class="col-md-8">
  {% for post in site.posts %}
    {% include _article.html %}
  {% endfor %}
  </div>
  <div class="col-md-4">
    <form action="/suche" method="get" class="mb-4">
      <input type="text" class="form-control article-search" name="q" placeholder="Artikel durchsuchen">
    </form>

    <h2 class="h3">Tutorials</h2>
    {% include sidebar_posts.html contains='tutorial' %}


    <h2>Partner</h2>

    <div class="card card-block text-center">
      <a href="http://localhost:4000/jobs/mehrkanal">
        Finde einen Job bei <span class="font-weight-bold">Mehrkanal in Essen</span><br> als Frontend-Entwickler!
        <img alt="MEHRKANAL GmbH Logo" class="my-1" src="/assets/img/jobs/logo-mehrkanal-180x50.png">
      </a>
    </div>


  </div>
</div>
