---
title: Artikel
noindex: true
sitemap: false
---

<form action="/suche" method="get" class="hidden-md-up mb-2">
  <input type="text" class="form-control article-search" name="q" placeholder="Artikel durchsuchen">
</form>

<div class="row">
  <div class="col-md-8">
  {% for post in site.posts %}
    {% include _article.html %}
  {% endfor %}
  </div>
  <div class="col-md-4">
    <form action="/suche" method="get" class="mb-4">
      <input type="text" class="form-control article-search" name="q" placeholder="Artikel durchsuchen">
    </form>

    <h2 class="h3">Tutorials</h2>
    {% include sidebar_posts.html contains='tutorial' %}
  </div>
</div>
