---
layout: base
title: Die deutsche Seite zum Angular Framework
description: Alles rund um Angular/JavaScript auf deutsch - Tutorials · Artikel · News · Workshops.
permalink: /
---
<main>

  <style>
    #_85476 {
      background-image: url(assets/img/temp/header1.png);
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding-top: 70px;
      margin-bottom: 50px;
    }

    #_98631 {
        line-height: 4.5rem;
        font-weight: 600;
    }

    @media (min-width: 992px) {
      #_98631 {
        font-size: 5rem;
      }
    }

    @media (max-width: 576px) {
      #_45678 {
        max-width: 100px !important;
      }

      #_98631 {
        font-size: 3rem;
        line-height: 3.0rem;
      }
    }
  </style>


  <div class="header header-workshop d-flex align-items-center" id="_85476">
      <div class="container">
          <div class="row">
              <div class="col-sm-3 text-center mx-auto my-auto">
                  <img class="img img-fluid mx-xl-4" alt="Angular &amp; TypeScript Intensiv-Schulung" id="_45678"
                      src="/assets/img/temp/angular_de.svg"
                      title="Angular &amp; TypeScript Intensiv-Schulung">
              </div>
              <div class="col-sm-9 pt-3 d-flex">
                <div class="pl-lg-4 mr-lg-4">
                  <p class="lead align-self-center" style="line-height: 1rem; color: rgba(0, 0, 0, 0.5);">Seit 5 Jahren alle Infos zum Angular Framework auf Deutsch!</>
                  <h1 class="display-4 align-self-center" id="_98631">
                      Alles rund um <span style="">Angular</span>
                  </h1>
                  <p class="mt-sm-2 pt-sm-2 mt-md-3 pt-md-3">Stöbere durch unsere Artikel und Tutorials und informiere <br class="hidden-lg-down">dich über unsere <a href="/workshops/angular-intensiv/">Inhouse- und offenen Intensiv-Schulungen!</a></p>
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="mb-2 mt-2 pb-2">
    <div class="container mt-4">
      <div class="alert alert-info text-center lead">
        Noch neu im Bereich
        <strong>Angular</strong> oder
        <strong>Ionic</strong>?
        - Starte hier mit unseren
        <a href="/tutorials/"><strong>Einsteiger-Tutorials!</strong></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-4">
      <div class="col-md-8">
        {% for post in site.posts limit:4 %}
          {% include _article.html %}
        {% endfor %}
        <a class="btn btn-block btn-secondary text-muted hidden-sm-up" href="/artikel/">weitere Artikel</a>      <br class="hidden-sm-up">
        <br class="hidden-sm-up">
      </div>

      <div class="col-md-4">
        <h2 class="h3">Tutorials</h2>
        {% include _sidebar_posts.html contains='tutorial' %}

        {% include _course_banner.html %}
      </div>
    </div>
  </div>
</main>
