---
layout: base
title: Deine deutsche Community zum Angular Framework
description: Alles rund um Angular/JavaScript auf deutsch - Tutorials · Artikel · News · Workshops.
permalink: /
---
<div class="header header-homepage d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-3 col-sm-3 text-center mx-auto my-auto">
        <img class="img img-fluid px-xl-4" alt="Angular &amp; TypeScript Intensiv-Schulung" src="/assets/img/logo.svg" title="Angular.DE Logo">
      </div>
      <div class="col-sm-9 pt-3">
        <div class="pe-lg-4 me-lg-4">
          <p class="lead align-self-center text-muted">
            Seit 6 Jahren alle Infos zu Angular auf Deutsch!
          </p>
          <h1 class="header-homepage-title">Alles rund um Angular</h1>
          <p class="m-0 pt-2 pt-md-4">
            <div class="row gy-3">
              <div class="col-12 col-md-6 col-lg-4">
                <a href="/tutorials/" class="btn btn-outline-secondary w-100">Mit einem Tutorial starten &rsaquo;</a>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <a href="/schulungen/" class="btn btn-primary w-100">Schulung buchen &rsaquo;</a>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-none container pt-5">
  <div class="row">

    <div class="col-8">
      <div class="card h-100">
        <a class="c-img-post" style="background-image: url('/artikel/angular-tutorial-deutsch/header.jpg');" href="/tutorials/"></a>
        <a class="card-body text-dark" href="/ng-de-konferenz/">
          <div class="fw-bold">
            Angular-Tutorial für Einsteiger
          </div>
        </a>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <a class="c-img-post" style="height: 150px; background-image: url('assets/img/ng-de/ng-de-mood-video.png');" href="/ng-de-konferenz/">
          <span class="c-post-categories">
            <span class="text-uppercase">Berlin</span>
            <span class="ms-1 me-1">•</span>
            <span class="text-uppercase">400+ Teilnehmer</span>
            <span class="ms-1 me-1">•</span>
            <span class="text-uppercase">Mood Video</span>
          </span>
        </a>
        <a class="card-body text-dark" href="/ng-de-konferenz/">
          <div class="text-muted">Angular Community Konferenz</div>
          <span class="fw-bold">
            NG-DE ist die erste community-driven Angular Konferenz in Deutschland
          </span>
        </a>
      </div>

      <div class="card">
        <a class="c-img-post" style="height: 150px; background-image: url('assets/img/ng-de/ng-de-mood-video.png');" href="/ng-de-konferenz/">
          <span class="c-post-categories">
            <span class="text-uppercase">Berlin</span>
            <span class="ms-1 me-1">•</span>
            <span class="text-uppercase">400+ Teilnehmer</span>
            <span class="ms-1 me-1">•</span>
            <span class="text-uppercase">Mood Video</span>
          </span>
        </a>
        <a class="card-body text-dark" href="/ng-de-konferenz/">
          <div class="text-muted">Angular Community Konferenz</div>
          <span class="fw-bold">
            NG-DE ist die erste community-driven Angular Konferenz in Deutschland
          </span>
        </a>
      </div>
    </div>

  </div>
</div>

<main class="container">
  <section class="my-5">
    <h2>Deine Angular Community</h2>
    <p>
      Seit 2013 bieten wir euch hier Tutorials, Artikel und <a href="schulungen/"> Schulungen</a> rund um das Angular Framework.
      Gestartet durch unsere Begeisterung für die modernen Möglichkeiten der Webentwicklung hat sich mittlerweile eine ganze Community dazu entwickelt.
      Mit mittlerweile <a href="meetups/">18 Meetups</a>, die insgesammt über 10.000 Angular-Entwickler:innen als Platform für regelmäßigen austausch dienen, sind wir damit in Europa die Region mit den meisten Angular Entwicklern.
      Regelmäßig werden neue Bücher und Artikel zu dem Thema auf Deutsch veröffentlicht.
      Auch auf Konferenzen ist das Thema nicht mehr wegzudenken.
      Seit 2019 gibt es mit der <a href="https://ng-de.org">NG-DE Konferenz</a> auch die erste Angular-Konferenz in Deutschland mit 400+ Teilnehmern.
    </p>

    <p>
      Wir sind eine offene Community die jeden Willkommen heißt der sich einbringen möchte oder eine Frage hat.
      Der meiste Austausch passiert dabei über unseren <a href="https://angular.de/discord" rel="noopener nofollow">Angular Community Discord</a> mit fast 2000 Mitgliedern.
      Du hast spannende Themen über welche du dich austauschen willst oder sogar ein Artikel schreiben möchtest?
      Dann bist du hier genau richtig. Lasst uns voneinander lernen und die Herrausforderungen in unseren Projekten gemeinsam meistern.
    </p>
  </section>

  <section class="my-5">
    <h2>Community</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <a class="c-img-post" style="height: 150px; background-image: url('assets/img/ng-de/ng-de-mood-video.png');" href="/ng-de-konferenz/">
            <span class="c-post-categories">
              <span class="text-uppercase">Berlin</span>
              <span class="ms-1 me-1">•</span>
              <span class="text-uppercase">400+ Teilnehmer</span>
              <span class="ms-1 me-1">•</span>
              <span class="text-uppercase">Mood Video</span>
            </span>
          </a>
          <a class="card-body text-dark" href="/ng-de-konferenz/">
            <div class="text-muted">Angular Community Konferenz</div>
            <span class="fw-bold">
              NG-DE ist die erste community-driven Angular Konferenz in Deutschland
            </span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a class="c-img-post" style="height: 150px; background-image: url('shared/assets/img/meetups.png');" href="/meetups/">
            <span class="c-post-categories">
              <span class="text-uppercase">Deutschland</span>
              <span class="ms-1 me-1">•</span>
              <span class="text-uppercase">Österreich</span>
              <span class="ms-1 me-1">•</span>
              <span class="text-uppercase">Schweiz</span>
            </span>
          </a>
          <a class="card-body text-dark" href="/meetups/">
            <div class="text-muted">Meetups in der DACH Region</div>
            <span class="fw-bold">
              Finde dein Angular Meetup in deiner nähe oder gründe selbe eins!
            </span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a class="c-img-post" target="_blank" style="height: 150px; background-image: url('shared/assets/img/discord.png');" href="/discord" rel="noopener nofollow">
            <span class="c-post-categories">
              <span class="text-uppercase">Hilfe</span>
              <span class="ms-1 me-1">•</span>
              <span class="text-uppercase">Austausch</span>
              <span class="ms-1 me-1">•</span>
              <span class="text-uppercase">Lernen</span>
            </span>
          </a>
          <a class="card-body text-dark" href="/discord" rel="noopener nofollow">
            <div class="text-muted">Dein Angular Discord auf Deutsch</div>
            <span class="fw-bold">
              Tausche dich mit anderen über Herausforderungen, Lösungen und Events aus
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="my-5">
    <h2>Die neuesten Artikel</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in site.posts limit:6 %}
      <div class="col">
        {% include shared/_post_card.html %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>
