---
title: "Vielen Dank für deine Anmeldung"
noindex: true
sitemap: false
---

<p>Vielen Dank für Deine Anmeldung und das Interesse am Thema. Wir werden euch über neue Artikel und Ereignisse in der Angular Welt informieren!</p>

<h4>Falls Du gerade erst mit dem Thema anfängst, empfehlen wir Dir folgende Artikel für den Einstieg:</h4>

<div class="card-deck-wrapper">
  <div class="row">
    {% for post in site.posts %}
      {% if post.categories contains 'tutorial' %}
        <div class="col-12 col-md-6 mb-2">
          {% include _post_card.html %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<br>

<h4>Falls Du bereits weiter im Thema bist, könnten dich folgende Artikel interessieren:</h4>

<div class="card-deck-wrapper">
  <div class="row">
    {% for post in site.posts %}
      {% if post.categories contains 'tutorial' %}
      {% else %}
        {% if post.categories contains 'angular' %}
        <div class="col-12 col-md-6 mb-2">
          {% include _post_card.html %}
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
