_site
node_modules
opengraph/*
.sass-cache
.jekyll-metadata
.jekyll-cache
.firebase
.DS_Store
_includes/_course_reviews.json
_data/events/*.json
_data/related_events/*.json
_data/course.json
_data/meetups.json
_data/videos.json
firebase-debug.log
