{% if jekyll.environment != "production" %}
Header set X-Robots-Tag "noindex, nofollow"
{% endif %}


RedirectMatch 301 ^/feed$ /feed.xml
RedirectMatch 301 ^/chat(.*)$ https://slack.angularjs.de/

RedirectMatch 301 ^/workshops/$ /workshops/angular-intensiv/
RedirectMatch 301 ^/workshops/(angularjs|angular2)(.*)$ /workshops/angular-intensiv/
RedirectMatch 301 ^/inhouse-workshop-anfrage$ /inhouse-workshop/

RedirectMatch 301 ^/veranstaltungen(.*)$ /workshops/angular-intensiv/
RedirectMatch 301 ^/entwickler(.*)$ /
RedirectMatch 301 ^/consulting(.*)$ /
RedirectMatch 301 ^/projekte(.*)$ /

RedirectMatch 301 ^/classroom/(.*)$ https://workshops.de/classroom/$1
RedirectMatch 301 ^/buch/(.*)$ /buecher/angularjs-buch/$1
RedirectMatch 301 ^/blog/(.*)$ /artikel/$1

RedirectMatch 301 ^/artikel/angular2-bootstrap-scss-angular-cli(.*)$ /artikel/angular-bootstrap-scss-angular-cli/
RedirectMatch 301 ^/artikel/angular2-tutorial-deutsch(.*)$ /artikel/angular-tutorial-deutsch/
RedirectMatch 301 ^/artikel/ngupgrade-migration-angularjs-angular2(.*)$ /artikel/ngupgrade-migration-angularjs-angular/
RedirectMatch 301 ^/artikel/angular2-routing-tutorial-deutsch(.*)$ /artikel/angular-routing-tutorial-deutsch/
