---
title: Artikel
header: light
noindex: true
sitemap: false
permalink: /artikel/
layout: "page"
pagination:
  enabled: true
  per_page: 6
  trail:
    before: 2
    after: 2
---

{% for post in paginator.posts %}
  {% include _post.html %}
{% endfor %}

<nav aria-label="Paginierung">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Zurück">
          <span aria-hidden="true">&laquo;</span>
          <span class="visually-hidden">Zurück</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Zurück">
          <span aria-hidden="true">&laquo;</span>
          <span class="visually-hidden">Zurück</span>
        </a>
      </li>
    {% endif %}
    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <li class="page-item {% if page.url == trail.path %}disabled active{% endif %}">
          <a class="page-link" href="{{ trail.path | prepend: site.baseurl | replace: '/index.html', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
      {% endfor %}
    {% endif %}
    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Weiter">
          <span aria-hidden="true">&raquo;</span>
          <span class="visually-hidden">Weiter</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Weiter">
          <span aria-hidden="true">&raquo;</span>
          <span class="visually-hidden">Weiter</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
