---
title: Angularjs Buch
noindex: true
layout: page
---

{% assign sorted_chapters = (site.books | sort: 'number') %}
<table class="table">
  {% for chapter in sorted_chapters %}
    {% if chapter.number %}
      {% if last_part != chapter.part %}
        <tr class="table-active">
          <td colspan="3" class="font-weight-bold">{{ chapter.part }}</td>
        </tr>
      {% endif %}
      <tr>
        <td width="20">{{ chapter.number }}</td>
        <td><a href="{{ chapter.url }}">{{ chapter.title }}</a></td>
        <td><span class="badge badge-primary float-right">{{ chapter.status }}</span></td>
      </tr>
    {% endif %}
    {% assign last_part = chapter.part %}
  {% endfor %}
</table>

