<div class="row pt-5">
    <div class="col-12 text-center">
    <h5 class="mb-2">Du kannst nicht vor Ort dabei sein, möchtest dich aber mit Gleichgesinnten zu Angular austauschen?</h5>
    <p class="d-block mb-3">Dann tritt dem deutschen Angular Channel bei und diskutiere mit anderen <br> zu aktuellen Themen, stelle Fragen und lerne neue Leute kennen.</p>
      <h3 class="mt-0">Tritt dem Angular.DE Discord Channel bei!</h3>
      <span>CHATTEN 😃</span><span>NETZWERKEN 👋</span><span>WACHSEN 🚀</span>
    <a href="/discord" target="_blank" rel="noopener" class="btn btn-link d-block pt-4">
      <img src="/shared/assets/img/discord-logo.svg" alt="Angular Discord" width="140">
    </a>
  </div>
</div>