<div class="navbar-banner">
  <div class="container d-flex align-items-center justify-content-center ">
    <img class="mr-2" alt="Workshops Logo" src="/assets/img/workshops-de-logo.svg" height="20">
    <a class="text-workshops" href="https://workshops.de/veranstaltungen?utm_source=angular_de&utm_campaign=website-banner&utm_medium=button&utm_content=workshops-overview" target="_blank">10% Rabatt auf alle Workshops.DE Schulungen mit dem Code: <b>ANGULARDE10</b></a>
    <img class="ml-2" alt="Workshops Logo" src="/assets/img/workshops-de-logo.svg" height="20">
  </div>
</div>
