<div data-headroom data-offset="105" class="navbar-wrapper headroom headroom--top headroom--not-bottom fixed-top">
  <nav class="navbar navbar-light navbar-ajs navbar-expand-md">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand d-none d-md-block p-0 mr-4 img-grayscale-100" href="/">
        <img alt="Angular.DE" src="/assets/img/angular-de-logo.svg" width="35">
      </a>
      <div class="collapse navbar-collapse mt-3 mt-sm-0" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {% if page.url contains '/artikel' %}active{% endif %}">
            <a class="nav-link" href="/artikel/">Artikel</a>
          </li>
          <li class="nav-item {% if page.url contains '/tutorials' %}active{% endif %}">
            <a class="nav-link" href="/tutorials/">Tutorials</a>
          </li>
          <li class="nav-item {% if page.url contains '/schulungen' %}active{% endif %}">
            <a class="nav-link" href="/schulungen/">Schulungen</a>
          </li>
          <li class="nav-item dropdown {% if page.url contains '/ng-de-konferenz' %}active{% endif %}">
            <a class="nav-link" href="#" id="navbarCourseDropdown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Community
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarCourseDropdown">
              <a class="dropdown-item" href="/meetups/">Meetups</a>
              <a class="dropdown-item" href="/videos/">Videos</a>
              <a class="dropdown-item" href="/ng-de-konferenz/">NG-DE Konferenz</a>
              <a class="dropdown-item" href="/slack">Slack</a>
            </div>
          </li>
          <li class="nav-item {% if page.url contains '/team' %}active{% endif %}">
            <a class="nav-link" href="/team/">Team</a>
          </li>
          <!-- <li class="nav-item {% if page.url contains '/jobs' %}active{% endif %}">
            <a class="nav-link" href="/jobs/">Jobs</a>
          </li> -->
        </ul>
        <form class="form-inline mr-auto" action="/suche/" method="GET">
          <input name="q" class="form-control navbar-search" type="text" placeholder="&#xF002;" autocomplete="off">
        </form>
        <div>
          <a class="slack" href="/slack" target="_blank" rel="noopener nofollow">
            <img class="slack-logo" alt="Slack Logo" src="/assets/img/slack-icon.svg" height="20">
            <span class="slack-text">
              <span class="slack-text-community d-lg-inline d-md-none">Community</span> Slack
            </span>
          </a>
        </div>
      </div>
      <a href="/slack" target="_blank" rel="noopener nofollow" class="slack d-md-none">
        <img class="slack-logo" alt="Slack Logo" src="/assets/img/slack-icon.svg" height="20">
        <span class="slack-text">
          <span class="slack-text-community d-lg-inline d-md-none">Community</span> Slack</span>
      </a>
    </div><!-- .container -->
  </nav>

{% include _navigation-banner.html %}
</div>