<nav data-headroom-top="" class="navbar navbar-light navbar-expand-lg fixed-top headroom headroom--top headroom--not-bottom" style="background-color: #fff">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img alt="AngularJS.DE" heigth="30" src="/assets/img/angularjs-de-logo.svg" width="30">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if page.url contains '/artikel' %}active{% endif %}">
          <a class="nav-link" href="/artikel/">Artikel</a>
        </li>
        <li class="nav-item {% if page.url contains '/tutorials' %}active{% endif %}">
          <a class="nav-link" href="/tutorials/">Tutorials</a>
        </li>
        <li class="nav-item {% if page.url contains '/workshops' %}active{% endif %}">
          <a class="nav-link" href="/workshops/angular-intensiv/">Schulung</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-2">
        <li class="nav-item">
          <a class="nav-link" href="https://slack.angularjs.de" alt="Slack">
            <img src="https://slack.angularjs.de/badge.svg" alt="Angular Slack" />
          </a>
        </li>
      </ul>
      <form class="form-inline" action="/suche/" method="GET">
        <input name="q" class="form-control navbar-search" type="text" placeholder="Suche">
      </form>
    </div>
  </div>
</nav>
