<div class="navbar-wrapper">
  <nav class="navbar navbar-dark navbar-main navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand p-0 me-4 img-grayscale-100" href="/">
        <img alt="Angular.DE" src="/assets/img/logo-white.svg" width="45">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-3 mt-sm-0" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item {% if page.url contains '/artikel' %}active{% endif %}">
            <a class="nav-link" href="/artikel/">Artikel</a>
          </li>
          <li class="nav-item {% if page.url contains '/tutorials' %}active{% endif %}">
            <a class="nav-link" href="/tutorials/">Tutorials</a>
          </li>
          <li class="nav-item {% if page.url contains '/schulungen' %}active{% endif %}">
            <a class="nav-link" href="/schulungen/">Schulungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://workshops.de/masterclass" target="_blank">Masterclass</a>
          </li>
          <li class="nav-item dropdown{% if page.url contains '/ng-de-konferenz' %} active{% endif %}">
            <a class="nav-link" href="#" id="navbarCourseDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Community
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarCourseDropdown">
              <a class="dropdown-item" href="/meetups/">Meetups</a>
              <a class="dropdown-item" href="/videos/">Videos</a>
              <!-- <a class="dropdown-item" href="/ng-de-konferenz/">NG-DE Konferenz</a> -->
              <a class="dropdown-item" href="/discord" target="_blank"><span class="visually-hidden">Community </span>Discord</a>
            </div>
          </li>
          <li class="nav-item dropdown{% if page.url contains '/autor-werden' %} active{% endif %}">
            <a class="nav-link" href="#" id="navbarMoreDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Mehr
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarMoreDropdown">
              <a class="dropdown-item" href="https://workshops.de/jobs">Werde Trainer:in</a>
              <a class="dropdown-item" href="/autor-werden/">Werde Autor:in</a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/discord" target="_blank"><span class="visually-hidden">Community </span>Discord</a>
          </li> -->
          <!-- <li class="nav-item {% if page.url contains '/jobs' %}active{% endif %}">
            <a class="nav-link" href="/jobs/">Jobs</a>
          </li> -->
        </ul>
        <form class="form-inline d-none d-lg-inline" action="/suche/" method="GET">
          <input name="q" class="form-control navbar-search" type="search" placeholder="&#xF002;" autocomplete="off">
        </form>
      </div>
    </div><!-- .container -->
  </nav>

{% include shared/_navigation_banner.html %}
</div>
