<div class="navbar-banner">
  <div class="container d-flex align-items-center justify-content-center ">
    <img class="me-2" alt="Workshops Logo" src="/shared/assets/img/workshops-de-logo.svg" height="20">
    <a class="text-workshops" href="https://workshops.de/schulungsthemen/angular?utm_source=angular_de&utm_campaign=portal-discount&utm_medium=banner&utm_content=workshops-overview" target="_blank">10% Rabatt auf alle Workshops.DE Schulungen mit dem Code: <b>ANGULARDE10</b></a>
    <img class="ms-2" alt="Workshops Logo" src="/shared/assets/img/workshops-de-logo.svg" height="20">
  </div>
</div>
