<div class="newsletter-footer hidden-print">
  <div class="container">
    <p class="lead text-center">Du willst immer auf dem aktuellsten Stand sein? - Melde Dich für unseren Newsletter an!</p>
    <form action="//angularjs.us5.list-manage.com/subscribe/post?u=465db430c1cb88ec6dea2ca40&amp;id=7e804310eb&amp;VIA=footer&amp;group[20925][1]=1" method="post" target="_blank">
      <div class="row">
        <div class="col-12 col-md-5 offset-md-2">
          <input type="email" value="" name="EMAIL" class="form-control form-control-lg" placeholder="Deine E-Mail-Adresse" required="">
        </div>
        <div class="col-12 col-md-3">
          <input type="submit" value="Anmelden" class="btn btn-block btn-lg btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
