{% if page.newsletter != false %}
<div class="newsletter-section d-print-none pt-5">
  <div class="container">
    <p class="lead text-center">Du möchtest immer auf dem aktuellsten Stand sein? - Melde Dich für unseren Newsletter an!</p>
    <p class="text-center">
      <a class="btn btn-primary" href="http://workshops.us5.list-manage.com/subscribe?u=465db430c1cb88ec6dea2ca40&id=7e804310eb&group[21361][64]=1&group[20925][1]=1" target="_blank">
        Jetzt für Neuigkeiten anmelden!
      </a>
    </p>
  </div>
</div>
{% endif %}
