<!-- author info -->
<div class="row mb-2">
  <div class="col-4 col-sm-3 col-md-4">
    <span>
      <img alt="{{ author.name }}" class="shadow-sm rounded img-fluid lazy"
      src="/assets/img/placeholder-image.svg"
      {% if author.gravatar_uid %}
      data-src="/assets/img/gravatars/{{ author.gravatar_uid }}-160x160.jpg"
      data-srcset="/assets/img/gravatars/{{ author.gravatar_uid }}-160x160.jpg"
      {% elsif author.avatar_name %}
      data-src="/assets/img/avatars/{{author.avatar_name}}"
      data-srcset="/assets/img/avatars/{{author.avatar_name}}"
      {% endif %}
      >
    </span>
  </div>
  <div class="col-8 col-sm-9 col-md-8">
    <p class="h5 text-truncate">
      {{ author.name }}
    </p>
    <div>
      {% if author.website %}
        <a href="{{ author.website }}" class="btn btn-sm btn-outline-secondary" target="_blank" rel="noopener noreferrer">Website</a>
      {% endif %}
      {% if author.github %}
        <a href="https://github.com/{{ author.github }}" class="btn btn-sm btn-outline-primary" target="_blank">Github</a>
      {% endif %}
      {% if author.twitter %}
        <a href="https://twitter.com/{{ author.twitter }}" class="btn btn-sm btn-outline-info" target="_blank">Twitter</a>
      {% endif %}
    </div>
  </div>
</div>
