
<article class="card mb-5">
  <div class="row">
    <div class="col-md-4">
      <a href="{{ post.url }}" class="rounded c-img-post"
        style="background-image: url('/artikel/{{post.slug}}/{{ post.header_image }}');">
        <span class="sr-only">{{ post.title }}</span>
        <span class="c-post-categories ms-2">
          {% for category in post.categories %}
            <span class="text-uppercase">{{ category }}</span>
            {% unless forloop.last %}<span class="ms-1 me-1">•</span>{% endunless %}
          {% endfor %}
        </span>
      </a>
    </div>
    <div class="col-md-8">
      <div class="py-4 px-2">
        <h2 class="h3 pb-1 mb-1">
          <a href="{{ post.url }}" class="text-body">{{post.title}}</a>
        </h2>
        <small class="text-muted">
          {{ post.author }} <span class="ms-1 me-1">•</span> <time>{{ post.published_at | date: "%d.%m.%Y" }}</time>
          <span class="ms-1 me-1">|</span>
          {% include _reading_time.html text=post.content %}
        </small>

        <p class="mb-4 mt-3 text-muted">
          {{post.description}}
        </p>
        <a class="btn btn-secondary btn-sm px-4" href="{{ post.url }}">Artikel <span class="sr-only">{{post.title}}</span> lesen &rsaquo;</a>
      </div>
    </div>
  </div>
</article>
