<div class="card h-100">
  <a class="c-img-post"
        style="height: 150px; background-image: url('/artikel/{{post.slug}}/{{ post.header_image }}');"
        href="{{ post.url }}">
    <span class="c-post-categories">
      {% for category in post.categories %}
        <span class="text-uppercase">{{category}}</span>
        {% unless forloop.last %}<span class="ml-1 mr-1">•</span>{% endunless %}
      {% endfor %}
    </span>
  </a>
  <a class="card-body text-dark" href="{{ post.url }}">
    <div class="text-muted">{{ post.author }}</div>
    <span class="fw-bold">
    {{ post.title }}
    </span>
  </a>
</div>
