<script type="application/ld+json">{"url":"{{post.url}}","publisher":"AngularJS.DE","image":{"width":920,"url":"{{post.header_image}}","height":270,"@type":"ImageObject"},"headline":"{{post.title}}","description":"{{post.description}}","datePublished":"2017-01-12","dateModified":"2017-02-05","author":"{{post.author}}","@type":"Article","@context":"http://schema.org"}</script>

<article class="card mb-3">
  <a href="{{ post.url }}" class="img-post"
     style="background-image: url('{{ post.header_image }}');">
     <span class="sr-only">{{post.title}}</span>
  </a>
  <div class="card-block">
    <h2 class="h4 card-title"><a href="{{ post.url }}">{{post.title}}</a></h2>
    <p>
      <small><a class="text-muted" href="{{ post.url }}">Weiterlesen...</a></small>
    </p>
    {% if content.footer %}
      <small>
        <span class="text-muted">{% include _reading_time.html %}</span>
        <span class="float-right">
          <span class="text-muted">von {{post.author}}</span>
        </span>
      </small>
      <div class="clearfix"></div>
    {% endif %}
  </div>
</article>
