{% for post in site.posts %}
  {% if post.categories contains include.contains %}
    {% for user_hash in site.data.users %}
      {% if post.author == user_hash[1].name %}
        {% assign author = user_hash[1] %}
      {% endif %}
    {% endfor %}
    <div class="row mb-3">
      <div class="col-sm-3 col-xl-2">
        <span>
          <img alt="{{ author.name }}" class="rounded-circle" height="32" src="/assets/img/gravatars/{{ author.gravatar_uid }}-64x64.jpg" width="32">
        </span>
      </div>
      <div class="col-sm-9 col-xl-10">
        <a class="text-unstyled" href="{{ post.url }}">{{ post.title }}</a>
        <br>
        <span class="text-muted">{{ author.name }}</span>
      </div>
    </div>
  {% endif %}
{% endfor %}
