<div class="row pt-5">
    <div class="col-12 text-center">
    <h5 class="mb-2">Du kannst nicht vor Ort dabei sein, möchtest dich aber mit Gleichgesinnten zu Angular austauschen?</h5>
    <p class="d-block mb-3">Dann tritt dem deutschen Angular Channel bei und diskutiere mit anderen <br> zu aktuellen Themen, stelle Fragen und lerne neue Leute kennen.</p>
      <h3 class="mt-0">Tritt dem Angular.DE Slack Channel bei!</h3>
      <span class="join-slack-word">CHATTEN 😃</span><span class="join-slack-word">NETZWERKEN 👋</span><span class="join-slack-word">WACHSEN 🚀</span>
    <a href="/slack" target="_blank" rel="noopener" class="btn btn-link d-block pt-4">
      <img src="/assets/img/slack-logo.svg" alt="Angular Slack" width="140">
    </a>
  </div>
</div>