<!-- Facebook Tags -->
{% if page.layout == "post" %}
  <meta name="og:title" content="{{ page.title }} - {{site.title}}">
{% else %}
  <meta name="og:title" content="{{site.title}} → {{ page.title }}">
{% endif %}

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% endif %}

<meta property="og:url" content="{{ site.url }}{{ page.url}}" />
{% if page.layout == "post" %}
  <meta property="og:type" content="article" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}

{% if page.header_image %}
  <meta property="og:image" content="{{ site.url }}/artikel/{{page.slug}}/{{ page.header_image }}" />
{% else %}
  <meta property="og:image" content="{{ site.url }}/assets/img/facebook-share.png" />
{% endif %}

<!-- Twitter Tags -->
<meta name="twitter:card" content="summary_large_image">

{% if page.layout == "post" %}
  <meta name="twitter:title" content="{{ page.title }} - {{site.title}}">
{% else %}
  <meta name="twitter:title" content="{{site.title}} → {{ page.title }}">
{% endif %}

<meta name="twitter:site" content="@angular_de">
<meta name="twitter:creator" content="@angular_de">
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% endif %}
{% if page.header_image %}
  <meta name="twitter:image" content="{{ site.url }}/artikel/{{page.slug}}/{{ page.header_image }}">
{% else %}
  <meta property="twitter:image" content="{{ site.url }}/assets/img/facebook-share.png" />
{% endif %}
