<div class="text-center">
  <div class="h3 mb-2">
    <span class="c-star {% if include.stars >= 1 %}c-star-on{% endif %}"></span>
    <span class="c-star {% if include.stars >= 2 %}c-star-on{% endif %}"></span>
    <span class="c-star {% if include.stars >= 3 %}c-star-on{% endif %}"></span>
    <span class="c-star {% if include.stars >= 4 %}c-star-on{% endif %}"></span>
    <span class="c-star {% if include.stars >= 5 %}c-star-on{% endif %}"></span>
  </div>
  <div class="mb-2">{{ include.quote }}</div>
  <div class="text-muted">
    {{ include.date }}
  </div>
</div>
