<section class="copy-section py-6" ad-fader="">
  <div class="container">
    {% include shared/_section_header.html cols="11"
         feature="Trainer:innen"
         benefit="Lerne von den Besten."
    %}

    <div class="row mb-5">
      <div class="col-10">
        Seit 2013 schulen wir Entwickler:innen im Bereich Web-Technologien. Um die bestmöglichen Schulungen zu geben, haben wir uns als Trainer:innen-Team
        zusammengeschlossen. Somit arbeiten wir gemeinsam an Materialien und Didaktik für unsere Teilnehmer.
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div id="carouselTrainers" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner pb-4">
            <div class="carousel-item active">
              <div class="row">
                {% for trainer in site.data.trainers limit:8 %}
                  {% assign trainer_name = trainer.givenName | append: " " | append: trainer.familyName %}
                  {% include_relative _includes/_trainer.html name=trainer_name image=trainer.image %}
                {% endfor %}
              </div>
            </div>

            {% if site.data.trainers.size > 8 %}
              <div class="carousel-item">
                <div class="row">
                  {% for trainer in site.data.trainers limit:8 offset: continue %}
                    {% assign trainer_name = trainer.givenName | append: " " | append: trainer.familyName %}
                    {% include_relative _includes/_trainer.html name=trainer_name image=trainer.image %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            {% if site.data.trainers.size > 16 %}
              <div class="carousel-item">
                <div class="row">
                  {% for trainer in site.data.trainers limit:8 offset: continue %}
                    {% assign trainer_name = trainer.givenName | append: " " | append: trainer.familyName %}
                    {% include_relative _includes/_trainer.html name=trainer_name image=trainer.image %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselTrainers" data-bs-slide-to="0" class="active" aria-current="true"></button>
            {% if site.data.trainers.size > 8 %}<button type="button" data-bs-target="#carouselTrainers" data-bs-slide-to="1"></button>{% endif %}
            {% if site.data.trainers.size > 16 %}<button type="button" data-bs-target="#carouselTrainers" data-bs-slide-to="2"></button>{% endif %}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <p class="mb-">
          Unter anderem sind wir:
        </p>
        <ul class="c-checked-list">
          <li><strong>Google-Developer-Experts</strong></li>
          <li>Erfahrene Softwareentwickler mit Fokus Web-Technologien</li>
          <li>Buch- und Artikel-Autoren</li>
          <li>Aktive Mitglieder der Web-Community</li>
          <li>Organisatoren von Meetups und Konferenzen</li>
        </ul>
      </div>
    </div>
  </div>
</section>
