<section class="copy-section py-6 ratings" itemscope="" itemtype="http://schema.org/Product" ad-fader="">
  <script type="application/ld+json">
    {% include _course_reviews.json %}
  </script>

  <meta itemprop="name" content="{{site.data.course.name}}" />
  <div class="container">
    {% include shared/_section_header.html cols="11"
         feature="Bewertungen"
         benefit="Die Meinung unserer Teilnehmer:innen zählt."
    %}

    <div class="row mb-6">
      <div class="col-10">
        <p itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
          Nach jeder Schulung bitten wir unsere Teilnehmer:innen um Feedback. Aus insgesamt <span itemprop="ratingCount" content="{{site.data.course.aggregateRating.reviewCount}}">{{site.data.course.aggregateRating.reviewCount}}</span>
              abgegeben Bewertungen erreichen wir aktuell eine durchschnittliche <strong>Bewertung von
              <span itemprop="ratingValue" content="{{site.data.course.aggregateRating.ratingValue | round: 1}}">
                {{site.data.course.aggregateRating.ratingValue | round: 1 | replace: '.', ','}} Sternen.
              </span></strong>
        </p>
        <p>
          <a href="https://workshops.de/seminare-schulungen-kurse/html-css-intensiv/erfahrungen" target="_blank">Alle Bewertungen anzeigen &rsaquo;</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=4
            quote="SEHR viele Eindrücke rund um HTML/CSS. Ich denke da hat jeder was neues gelernt :-)"
            date="Remote, 10.09.2020"
        %}
      </div>
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=5
            quote="Ich hätte nie gedacht, dass ich als relativer Anfänger dann doch so gut folgen kann. Die Mischung aus Theorie und dann Praxis-Anwendung plus viele Link-Tipps die Lust auf mehr machen, war echt super!"
            date="Remote, 10.09.2020"
        %}
      </div>
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=5
            quote="https://jsbin.com/mitavamoni/1"
            date="Remote, 04.09.2020"
        %}
      </div>
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=5
            quote="Hat sich gelohnt!"
            date="Remote, 03.09.2020"
        %}
      </div>
    </div>
  </div>
</section>
