<section class="copy-section py-6" id="Anfrage">
  <div class="container">
    {% include_relative _includes/_section_header.html cols="11"
         feature="Termine, Inhouse, Remote-Buchung"
         benefit="Hier kannst du buchen."
    %}

    <div class="row mb-4">
      <div class="col-md-10">
        <p>
          <strong>Vor Ort:</strong> Unsere Vor Ort Schulungen beginnen normalerweise am ersten Tag um 9:00 Uhr und enden am letzten Tag um 16:30 Uhr.
          Die genauen Start- und Endzeiten findest du, wenn du auf einen Termin klickst.
        </p>
        <p>
          <strong>Remote:</strong> Unsere öffentlichen Remote Schulungen finden in der Regel über {{ include.duration | times: "2") }} halbe Tage am Vormittag von 9 bis 13 Uhr statt.
        </p>
        <p>
          Andere Variationen sind natürlich auch sehr flexibel umzusetzen und können gerne gemeinsam erarbeitet werden.
        </p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4 col-md-5">
        <span>Individuell <span class="small d-block d-lg-inline">(Standarddauer {{ include.duration }}-{{ include.duration | times: "2") }} Tage)</span></span>
      </div>
      <div class="col-8 col-md-7">
        <div class="row">
          <div class="col-sm-9">
            <a class="text-unstyled" href="https://workshops.de/seminare-schulungen-kurse/{{ include.slug }}/inhouse?utm_source={{ site.utm_source }}&utm_campaign=undefined&utm_medium=button&utm_content=workshops-list" target="_blank"> <span class="visually-hidden">{{ include.topic }}</span> Firmenschulung Inhouse</a>
            <span class="small d-block d-lg-inline">
              Termine und Preise auf Anfrage
            </span>
            <span class="small d-inline d-sm-none"> Auf Anfrage </span>
          </div>
          <div class="col-sm-3 text-end">
            <a class="btn btn-primary btn-sm w-100 shadow" href="https://workshops.de/seminare-schulungen-kurse/{{ include.slug }}/inhouse?utm_source={{ site.utm_source }}&utm_campaign=undefined&utm_medium=button&utm_content=workshops-list" target="_blank"><span class="visually-hidden">{{ include.topic }} Inhouse</span> Zur Anfrage</a>
          </div>
        </div>
      </div>
    </div>
    {% for event in site.data.events[include.data_key] %}
    <div class="row mb-2" itemscope="" itemtype="http://schema.org/Event">
      <div class="d-none d-md-block col-1">
        KW{{ event.startDate | date: "%W" }}
      </div>
      <div class="col-4">
        <span itemprop="startDate" content="{{ event.startDate | date: " %Y-%m-%d " }}">{{ event.startDate | date: "%d.%m" }}</span> - <span class="me-2" itemprop="endDate" content="{{ event.endDate | date: " %Y-%m-%d " }}">{{ event.endDate | date: "%d.%m.%Y" }}</span>
        {% if event.bookingsStatus == "BOOKED" %}
        <span class="badge bg-danger">ausgebucht</span>
        {% elsif event.bookingsStatus == "ONE_LEFT" %}
        <span class="badge bg-danger">Nur noch 1 Platz</span>
        {% elsif event.bookingsStatus == "FEW_TICKETS_LEFT" %}
        <span class="badge bg-danger">Fast ausgebucht</span>
        {% elsif event.bookingsStatus == "SOME_TICKETS_LEFT" %}
        <span class="badge bg-warning">Wenige Plätze frei</span>
        {% elsif event.bookingsStatus == "TICKETS_LEFT" %}
        <span class="badge c-badge-free">Noch freie Plätze</span>
        {% endif %}
      </div>
      <div class="col-8 col-md-7">
        <div class="row">
          <div class="col-sm-9">
            <a class="underlined" href="{{ event.url }}&utm_source={{ site.utm_source }}&utm_campaign=website-link-event-date&utm_medium=button&utm_content=workshops-list" target="_blank">
              {{event.topic}} {{event.type}}
            </a>
            <span class="d-block d-lg-inline">
              {% if event.location.address.addressLocality != 'Remote' %}
              <span>in</span>
              <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                <meta itemprop="name" content="{{event.location.name}}">
                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="addressLocality" content="{{event.location.address.addressLocality}} + Inhouse">{{event.location.address.addressLocality}}</span>
                  <meta itemprop="streetAddress" content="{{event.location.address.streetAddress}}">
                  <meta itemprop="postalCode" content="{{event.location.address.postalCode}}">
                </span>
              </span>
              {% else %}
              <span itemprop="location" itemscope itemtype="http://schema.org/VirtualLocation">
                <span>{{event.location.address.addressLocality}}</span>
                <meta itemprop="url" content="https://zoom.us/  ">
              </span>
              {% endif %}
              <span>
                {% if event.early_bird == true %}
                <span class="badge bg-info"><small>Frühbucher Rabatt</small></span>
                {% endif %}
              </span>
            </span>
            <meta itemprop="name" content="{% if include.icon %}{{ include.icon }}{% else %}📅{% endif %} {{ event.topic }} {{ event.type }}">
            <meta itemprop="description" content="{{ event.description }}">
            <meta itemprop="url" content="{{ event.url }}">
            <meta itemprop="image" content="{{site.url}}/assets/img/workshops/logo-{{ include.logo }}.svg">
            <span itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
              <meta itemprop="name" content="Workshops.DE">
              <meta itemprop="url" content="https://workshops.de">
            </span>
            <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
            {% if event.location.address.addressLocality == 'Remote' %}
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode">
            {% else %}
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
            {% endif %}
            <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
              {% if event.bookingsStatus == 'TICKETS_LEFT' %}
              <meta itemprop="availability" content="https://schema.org/InStock">
              {% else %}
              <meta itemprop="availability" content="https://schema.org/SoldOut">
              {% endif %}
              <link itemprop="url" content="{{event.offers.url}}">
              <meta itemprop="price" content="{{event.offers.price.coef}}">
              <meta itemprop="priceCurrency" content="{{event.offers.priceCurrency}}">
              <meta itemprop="validFrom" content="{{event.validFrom}}">
            </span>
            <!-- <link itemprop="image" href="<%= Routes.static_url(@conn, "/images/workshops-de-social-share.png") %>" /> -->
            {% if event.performer %}
            <span itemprop="performer" itemscope itemtype="https://schema.org/Person">
              <meta itemprop="name" content="{{event.performer.name}}">
            </span>
            {% endif %}
          </div>
          <div class="col-sm-3 text-end">
            <a class="btn btn-primary btn-sm w-100 shadow" href="{{ event.offers.url }}?utm_source={{ site.utm_source }}&utm_campaign=website-link-event-date&utm_medium=button&utm_content=workshops-list#booking" target="_blank">Zur Buchung</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% if site.data.related_events[include.data_key] %}
      <div class="text-center mt-4">
        <button class="btn btn-link btn-lg | fw-medium" type="button" data-bs-toggle="collapse" data-bs-target="#related_events" aria-expanded="false" aria-controls="collapseExample">» Termine aus verwandten Themen anzeigen</button>
      </div>
      <div class="collapse mt-2" id="related_events">
        {% for event in site.data.related_events[include.data_key] limit:6 %}
        <div class="row mb-2" itemscope="" itemtype="http://schema.org/Event">
          <div class="d-none d-md-block col-1">
            KW{{ event.startDate | date: "%W" }}
          </div>
          <div class="col-4">
            <span itemprop="startDate" content="{{ event.startDate | date: " %Y-%m-%d " }}">{{ event.startDate | date: "%d.%m" }}</span> - <span class="me-2" itemprop="endDate" content="{{ event.endDate | date: " %Y-%m-%d " }}">{{ event.endDate | date: "%d.%m.%Y" }}</span>
            {% if event.bookingsStatus == "BOOKED" %}
            <span class="badge bg-danger">ausgebucht</span>
            {% elsif event.bookingsStatus == "ONE_LEFT" %}
            <span class="badge bg-danger">Nur noch 1 Platz</span>
            {% elsif event.bookingsStatus == "FEW_TICKETS_LEFT" %}
            <span class="badge bg-danger">Fast ausgebucht</span>
            {% elsif event.bookingsStatus == "SOME_TICKETS_LEFT" %}
            <span class="badge bg-warning">Wenige Plätze frei</span>
            {% elsif event.bookingsStatus == "TICKETS_LEFT" %}
            <span class="badge c-badge-free">Noch freie Plätze</span>
            {% endif %}
          </div>
          <div class="col-8 col-md-7">
            <div class="row">
              <div class="col-sm-9">
                <a class="underlined" href="{{ event.url }}&utm_source={{ site.utm_source }}&utm_campaign=website-link-event-date&utm_medium=button&utm_content=workshops-list" target="_blank">
                  {{event.topic}} {{event.type}}
                </a>
                <span class="d-block d-lg-inline">
                  {% if event.location.address.addressLocality != 'Remote' %}
                  <span>in</span>
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <meta itemprop="name" content="{{event.location.name}}">
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <span itemprop="addressLocality" content="{{event.location.address.addressLocality}} + Inhouse">{{event.location.address.addressLocality}}</span>
                      <meta itemprop="streetAddress" content="{{event.location.address.streetAddress}}">
                      <meta itemprop="postalCode" content="{{event.location.address.postalCode}}">
                    </span>
                  </span>
                  {% else %}
                  <span itemprop="location" itemscope itemtype="http://schema.org/VirtualLocation">
                    <span>{{event.location.address.addressLocality}}</span>
                    <meta itemprop="url" content="https://zoom.us/  ">
                  </span>
                  {% endif %}
                  <span>
                    {% if event.early_bird == true %}
                    <span class="badge bg-info"><small>Frühbucher Rabatt</small></span>
                    {% endif %}
                  </span>
                </span>
                <meta itemprop="name" content="{{ event.topic }} {{ event.type }}">
                <meta itemprop="description" content="{{ event.description }}">
                <meta itemprop="url" content="{{ event.url }}">
                <meta itemprop="image" content="{{site.url}}/assets/img/workshops/logo-{{ include.logo }}.svg">
                <span itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <meta itemprop="name" content="Workshops.DE">
                  <meta itemprop="url" content="https://workshops.de">
                </span>
                <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
                {% if event.location.address.addressLocality == 'Remote' %}
                <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode">
                {% else %}
                <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
                {% endif %}
                <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                  {% if event.bookingsStatus == 'TICKETS_LEFT' %}
                  <meta itemprop="availability" content="https://schema.org/InStock">
                  {% else %}
                  <meta itemprop="availability" content="https://schema.org/SoldOut">
                  {% endif %}
                  <link itemprop="url" content="{{event.offers.url}}">
                  <meta itemprop="price" content="{{event.offers.price.coef}}">
                  <meta itemprop="priceCurrency" content="{{event.offers.priceCurrency}}">
                  <meta itemprop="validFrom" content="{{event.validFrom}}">
                </span>
                <!-- <link itemprop="image" href="<%= Routes.static_url(@conn, "/images/workshops-de-social-share.png") %>" /> -->
                {% if event.performer %}
                <span itemprop="performer" itemscope itemtype="https://schema.org/Person">
                  <meta itemprop="name" content="{{event.performer.name}}">
                </span>
                {% endif %}
              </div>
              <div class="col-sm-3 text-end">
                <a class="btn btn-primary btn-sm w-100 shadow" href="{{ event.offers.url }}?utm_source={{ site.utm_source }}&utm_campaign=website-link-event-date&utm_medium=button&utm_content=workshops-list#booking" target="_blank">Zur Buchung</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    <hr>
    <div class="text-muted smaller text-end d-flex justify-content-end">Unsere Workshops werden durchgeführt von <span class="d-inline-flex align-items-center"><img class="ms-1 me-1" alt="Workshops Logo" src="/assets/img/workshops-de-logo.svg" height="16"> <a class="text-workshops" href="https://workshops.de/?utm_source={{ site.utm_source }}&utm_campaign=website-link-right-bottom&utm_medium=link&utm_content=workshops-list" target="_blank" rel="noopener">Workshops.DE</a></span></div>
    <!-- /.col~ -->
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>