---
layout: base
title: Angular & TypeScript Intensiv-Schulung (3 Tage)
course:
  topic:
  subtitle:
  image_url:
description: Du möchtest Angular in nur 3 Tagen lernen? Angular ist der Nachfolger von AngularJS. Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /schulungen/angular-intensiv/
---

<main role="main">

{% include_relative angular-intensiv/_header.html %}

{% include_relative angular-intensiv/_01_clients_small.html %}
{% include_relative angular-intensiv/_05_benefits.html %}
{% include_relative angular-intensiv/_08_topic-overview.html %}

{% include_relative angular-intensiv/_20_testimonials.html %}
{% include_relative angular-intensiv/_why.html %}

{% include_relative angular-intensiv/_benefits-developer.html %}

{% include_relative angular-intensiv/_50_ratings.html %}

{% include_relative angular-intensiv/_25_trainers.html %}

{% include_relative angular-intensiv/_agenda.html %}

{% include_relative angular-intensiv/_40_requirements.html %}
{% include_relative angular-intensiv/_45_included_benefits.html %}

{% include_relative angular-intensiv/_questions.html %}
{% include_relative angular-intensiv/_training-schedule.html %}

</main>
