---
layout: base
title: Angular & TypeScript Intensiv-Schulung (Vor-Ort / Remote)
description: Du möchtest Angular lernen? Ganz entspannt vor-ort oder verteilt arbeiten, euch austauschen und gemeinsam lernen. Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /schulungen/angular-intensiv/
---

<main role="main">
  {% include_relative angular-intensiv/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative angular-intensiv/_05_benefits.html %}
  {% include_relative angular-intensiv/_08_topic-overview.html %}
  {% include_relative _20_testimonials.html %}
  {% include_relative angular-intensiv/_10_agenda.html %}
  {% include_relative angular-intensiv/_22_cost_savings.html %}
  {% include_relative angular-intensiv/_50_ratings.html %}
  {% include_relative angular-intensiv/_25_trainers.html %}
  {% include_relative angular-intensiv/_40_requirements.html %}
  {% include_relative angular-intensiv/_45_included_benefits.html %}
  {% include_relative _90_questions.html %}
  {% include_relative angular-intensiv/_95_remote-workshops.html %}
  {% include_relative angular-intensiv/_99_booking.html %}
</main>