---
layout: base
header: light
title: React Intensiv-Schulung (2 Tage)
description: Die Angular Schulung für Fortgeschrittene und Profis! Vertiefe Dein Wissen in Angular und beschleunige deinen Weg zum Angular-Experten.
permalink: /schulungen/angular-advanced/
noindex: true
---

<main role="main">
  {% include_relative angular-advanced/_00_header.html %}
  {% include_relative angular-advanced/_05_benefits.html %}
  {% include_relative angular-advanced/_10_agenda.html %}
  {% include_relative angular-advanced/_20_testimonials.html %}
  {% include_relative angular-advanced/_30_clients.html %}
  {% include_relative angular-advanced/_40_requirements.html %}
  {% include_relative angular-advanced/_50_ratings.html %}
  {% include_relative angular-advanced/_99_booking.html %}
</main>
