---
layout: base
title: Angular & TypeScript Remote Intensiv-Schulung (6 x 1/2 Tag Remote)
description: Lerne im virtuellen Klassenzimmer zusammen mit uns Angular. Ganz entspannt verteilt arbeiten, euch austauschen und gemeinsam lernen.
permalink: /schulungen/angular-remote/
---

<main role="main">
  {% include_relative angular-remote/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative angular-remote/_05_benefits.html %}
  {% include_relative angular-remote/_08_topic-overview.html %}
  {% include_relative _20_testimonials.html %}
  {% include_relative angular-remote/_10_agenda.html %}
  {% include_relative angular-remote/_22_cost_savings.html %}
  {% include_relative angular-remote/_50_ratings.html %}
  {% include_relative angular-remote/_25_trainers.html %}
  {% include_relative angular-remote/_40_requirements.html %}
  {% include_relative angular-remote/_45_included_benefits.html %}
  {% include_relative _90_questions.html %}
  {% include_relative angular-remote/_95_remote-workshops.html %}
  {% include_relative _99_booking.html
    topic="Angular & TypeScript"
    duration="3"
    slug="angular-typescript"
    logo="angular-typescript-schulung"
    icon="🅰️"
    data_key="angular-intensiv"
  %}
</main>