---
layout: base
header: light
title: NestJS für Enterprise Applications Schulung (3 Tage)
description: Du möchtest Nest in nur 3 Tagen lernen? Besuche jetzt unsere Schulung und lerne wie du Backends für deine Anwendungen bauen kannst.
permalink: /schulungen/nestjs-enterprise-applications/
---

<main role="main">
  {% include_relative nestjs-enterprise-applications/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative nestjs-enterprise-applications/_05_benefits.html %}
  {% include_relative nestjs-enterprise-applications/_10_agenda.html %}
  {% include_relative nestjs-enterprise-applications/_20_testimonials.html %}
  {% include_relative _includes/_trainers.html %}
  {% include_relative nestjs-enterprise-applications/_30_clients.html %}
  {% include_relative nestjs-enterprise-applications/_40_requirements.html %}
  {% include_relative nestjs-enterprise-applications/_99_booking.html %}
</main>