---
layout: base
header: light
title: NestJS für Enterprise Applications Schulung (Vor-Ort oder Remote)
description: Du möchtest Nest lernen? Besuche jetzt unsere Schulung und lerne wie du Backends für deine Anwendungen bauen kannst.
permalink: /schulungen/nestjs-enterprise-applications/
---

<main role="main">
  {% include_relative nestjs-enterprise-applications/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative nestjs-enterprise-applications/_05_benefits.html %}
  {% include_relative nestjs-enterprise-applications/_10_agenda.html %}
  {% include_relative _20_testimonials.html %}
  {% include_relative _includes/_trainers.html %}
  {% include_relative nestjs-enterprise-applications/_30_clients.html %}
  {% include_relative nestjs-enterprise-applications/_40_requirements.html %}
  {% include_relative nestjs-enterprise-applications/_95_remote-workshops.html %}
  {% include_relative _99_booking.html
    topic="NestJS"
    duration="3"
    slug="nestjs"
    logo="nestjs-intensiv"
    data_key="nestjs"
  %}
</main>