---
layout: base
title: RxJS Intensiv-Schulung (Vor-Ort / Remote)
description: Du möchtest RxJS lernen? Reaktive mit RxJS gehört zum Standard in der Webentwicklung. Besuche unsere Intensiv-Schulung und werde zum RxJS Experten!
permalink: /schulungen/rxjs-intensiv/
---

<main role="main">
  {% include_relative rxjs-intensiv/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative rxjs-intensiv/_05_benefits.html %}
  {% include_relative rxjs-intensiv/_08_topic-overview.html %}
  {% include_relative rxjs-intensiv/_20_testimonials.html %}
  {% include_relative rxjs-intensiv/_10_agenda.html %}
  {% include_relative _includes/_trainers.html %}
  {% include_relative rxjs-intensiv/_40_requirements.html %}
  {% include_relative rxjs-intensiv/_90_questions.html %}
  {% include_relative rxjs-intensiv/_95_remote-workshops.html %}
  {% include_relative rxjs-intensiv/_99_booking.html %}
</main>