---
layout: schulungen
header: Unsere Schulungen
title: Unsere Schulungen
permalink: /schulungen/
---

<p class="lead mb-4">
  Der beste Weg mit einem neuen Framework zu starten!
</p>

<div class="list-group mb-5">
  {% include_relative _schulung.html
     permalink="angular-intensiv"
     title="Angular <strong>Intensiv</strong> Schulung"
     description="Der beste Weg mit Angular zu starten! Du hast schon erste Erfahrungen im Web und möchtest möglichst schnell mit Angular starten ohne selber in alle Anfängerfehler reinzulaufen? Unsere Schulungen machen dich fit für den produktiven Einsatz von Angular."
     logo="angular-typescript-schulung"
     pattern="1"
  %}
  {% include_relative _schulung.html
    permalink="angular-advanced"
    title="Angular <strong>Advanced</strong> Schulung"
    description="Die Fortführung von unserem Intensiv Kurs. In den ersten Wochen und Monaten im produktiven Einsatz kommen schnell neue Fragen auf. Wie löse ich Statemanagement in meiner Anwendung? Wie teste ich meine Konzepte richtig? Wie Schneide ich meine Anwendung. Aus einer vielzahl von Modulen kann hier ein individueller Kurs für die aktuellen Probleme zusammengestellt werden."
    logo="angular-advanced"
    pattern="1"
 %}
</div>


<br>
