---
layout: schulungen
header: Unsere Schulungen
title: Unsere Schulungen
permalink: /schulungen/
noindex: true
---

<p class="lead mb-4">
  Der beste Weg mit einem neuen Framework zu starten!
</p>

<div class="list-group mb-5 container">
  {% include_relative _schulung.html
        permalink="angular-intensiv"
        title="Angular <strong>Intensiv</strong> Schulung"
        description="Der beste Weg mit Angular zu starten! Du hast schon erste Erfahrungen im Web und möchtest möglichst schnell mit Angular starten ohne selber in alle Anfängerfehler reinzulaufen? Unsere Schulungen machen dich fit für den produktiven Einsatz von Angular. Egal ob Vor Ort oder Remote in unserem Virtual Classroom."
        logo="angular-typescript-schulung"
        pattern="1"
    %}

  {% include_relative _schulung.html
      permalink="angular-remote"
      title="Angular <strong>Remote</strong> Schulung"
      description="Home-Office? Reise zu teuer? Wir bieten unsere Schulungen auch Remote an. Lernt mit uns gemeinsam Angular im virtuellen Klassenzimmer. Material und Aufgaben sind komplett online verfügbar."
      logo="angular-typescript-schulung"
      pattern="1"
  %}

  <!-- {% include_relative _schulung.html
      permalink="angular-enterprise-applications"
      title="Angular für <strong>Enterprise Applications</strong>"
      description="Große Enterprise Anwendungen habe besondere Herrausforderung. In dieser Schulung widmen wir uns speziell Themen wie Architektur, State Management, eigenen Komponenten Bibliotheken, Umgang mit Mono-Repos, Micro-Apps und Performance."
      logo="angular-enterprise-applications"
      pattern="1"
    %}-->
  {% include_relative _schulung.html
      permalink="nestjs-enterprise-applications"
      title="<strong>NestJS</strong> for Enterprise Applications"
      description="NestJS liefert endlich eine gute Lösung für serverseitiges NodeJS Implementierungen in Enterprise Projekten. Es unterstützt TypeScript und vereint Elemente von objekt-orientierter, funktionaler und auch reaktiver Programmierung."
      logo="nestjs-intensiv"
      pattern="1"
    %}
  {% include_relative _schulung.html
    permalink="rxjs-intensiv"
    title="<strong>RxJS</strong> Intensiv Schulung"
    description="Reaktive Programmierung ist in vielen modernen Frameworks wie z.B. Angular, React und Vue ein fester Bestandteil. Lerne die Konzepte zu verstehen, sinnvoll einzusetzen und so lesbaren und wartbaren Code zu schreiben."
    logo="rxjs-intensiv-schulung"
    pattern="1"
  %}
  <!--
  {% include_relative _schulung.html
    permalink="state-management"
    title="Angular <strong>State Management</strong>"
    description="State Management wird in größeren Anwendungen schnell zu einer echten Herrausforderung. Im Angular Öko-System gibt es verschiedene Ansätze welche je nach Problemstellung ihres Projektes besser oder auch schlechter geeinget sind. In diesem Workshop schauen wir uns die verschiedenen Ansätze an, sodass du selbst beurteilen kannst was für dein Projekt die beste Wahl ist."
    logo="state-management-schulung"
    pattern="1"
  %}
  -->
  <!-- {% include_relative _schulung.html
    permalink="angular-girls"
    title="Kostenlose <strong>Angular Girls</strong> Schulung"
    description="Angular Girls ist eine Initiative um das Ungleichgewicht in der Verteilung zwischen Männern und Frauen im Bereich der Entwicklung zu verbessern. Durch diversere Teams in unser Industrie und deren Einflüsse lassen sich bessere Produkte und Teams formen."
    logo="angular-girls-schulung"
    pattern="1"
  %} -->
</div>