.c-checked-list {
  li {
    list-style: none;
    position: relative;

    &:before {
      position: absolute;
      content: "✓";
      color: $primary;
      left: -20px;
      font-weight: 600;
    }
  }
}
