.c-checked-list {
  li {
    list-style: none;
    position: relative;
    line-height: $line-height-base * 1.1;

    &:before {
      position: absolute;
      color: $primary;
      content: "✓";
      left: -1.2em;
      font-weight: 600;
    }
  }
}
