pre {
  font-size: calc(.9em + .1vw);
  background-color: #fafafa;
  //border: 1px solid #f3f3f3;
  word-wrap: normal !important;
  white-space: pre-wrap;
  overflow: auto;

  code {
    font-size: calc(.75em + .1vw);
    line-height: calc(1.65em + .2vw);
    padding: 10px 10px;
    white-space: pre !important;
    display: block;
  }
}

code { white-space: pre-wrap; font-size: calc(.75em + .1vw); line-height: calc(1.5em + .2vw); }
