.c-content {
  h2, h3 {
    margin-top: - $spacer;
    padding-top: $spacer * 2;
  }

  h3 {
    color: $text-muted;
  }

  > p,
  > ul {
    hyphens: auto;

    -webkit-hyphenate-limit-before: 2;
    -ms-hyphenate-limit-before: 2;
    -moz-hyphenate-limit-before: 2;

    -webkit-hyphenate-limit-after: 3;
    -ms-hyphenate-limit-after: 3;
    -moz-hyphenate-limit-after: 3;

    -webkit-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-lines: 2;
  }

  > pre,
  > div,
  > ul,
  > ol,
  > table,
  > img,
  > iframe,
  > blockquote {
    margin-bottom: $paragraph-margin-bottom;
  }

  // Code Tags
  li code,
  p code {
    background-color: $light;
    border-radius: $border-radius-sm;
    padding: 4px;
    white-space: pre-wrap;
  }

  blockquote {
    padding: $spacer $spacer;
    // font-size: 1.25rem;
    border-left: .25rem solid $border-color;
    p { margin: 0; }
  }

  img {
    @extend .img-fluid;
  }

  iframe {
    @extend .shadow-sm;
    border: $card-border-width solid $card-border-color;
  }

  pre {
    @extend .shadow-sm;
    background-color: #fafafa;
    word-wrap: normal !important;
    white-space: pre-wrap;
    overflow: auto;
    margin-bottom: $paragraph-margin-bottom;

    code {
      padding: 10px 10px;
      white-space: pre !important;
      display: block;
    }
  }

  a:not(.btn) {
    @include underline($body-color);
    color: $body-color;

    &:hover {
      @include underline($link-hover-color);
    }
  }
}
