.copy-section {
  font-size: $font-size-base * 1.2;
  position: relative;
}
.copy-headline {
  @extend h1;
  // @extend .text-center;
  font-size: calc(2.5vw + 30px);
  font-weight: $font-weight-bold;
}

.copy-section-trust:before {
  content: "";
  background: url(/assets/img/courses/handshake.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.copy-testimonial  {
  position: relative;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: $white;

  blockquote {
    font-size: $font-size-base * 1.2;
  }

  $testimonial-step1: rgba($primary, 1);
  $testimonial-step2: rgba($primary, 0.75);
  $testimonial-step3: rgba($primary, 0.5);
  $testimonial-step4: rgba($primary, 0.25);
  $testimonial-step5: rgba($primary, 0);
  $gradient: $testimonial-step1 0%, $testimonial-step2 25%, $testimonial-step3 50%, $testimonial-step4 75%, $testimonial-step5 100%;

  &-right {
    background-image: url(/assets/img/schulungen/shared/testimonial-annika-stille-adesso.jpg);
    background-position: right top;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(left, $gradient); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, $gradient); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  &-left {
    background-image: url(/assets/img/schulungen/shared/testimonial-christianz-janz.png);
    background-position: left top;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(right, $gradient); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, $gradient); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

.copy-section-book:before {
  content: "";
  background: url(/assets/img/schulungen/shared/white-book.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
