.copy-section {
  min-height: 100vh;
  font-size: $font-size-base * 1.2;
  position: relative;
}
.copy-headline {
  @extend h1;
  // @extend .text-center;
  font-size: 60px;
  font-weight: $font-weight-bold;
}

.copy-section-trust:before {
  content: "";
  background: url(/assets/img/courses/handshake.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.copy-testimonials  {
  position: relative;
  background: url(/assets/img/schulungen/shared/testimonial-annika-stille-adesso.jpg);
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
  color: $white;

  blockquote {
    font-size: $font-size-base * 1.2;
  }

  $testimonial-start: darken($primary, 10%);
  $testimonial-end: darken($primary, 8%);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(left, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.copy-testimonial  {
  position: relative;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: $white;

  blockquote {
    font-size: $font-size-base * 1.2;
  }

  $testimonial-start: darken($primary, 10%);
  $testimonial-end: darken($primary, 8%);

  &-left {
    background-image: url(/assets/img/schulungen/shared/testimonial-christianz-janz.png);
    background-position: left top;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(right, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }


  &-right {
    background-image: url(/assets/img/schulungen/shared/testimonial-annika-stille-adesso.jpg);
    background-position: right top;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(left, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

.copy-section-book:before {
  content: "";
  background: url(/assets/img/courses/white-book.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
