.course-card {
  display: block;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
  border-radius: 3px;
  padding: 2em 1em;
  transition: all 150ms;
  color: #495057;
  text-decoration: none;

  .course-card-title {
    font-size: 1.66em;
    font-weight: 600;
    color: $dark;
  }

  &:hover {
    color: #495057;
    text-decoration: none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.35);

    .course-card-title {
      color: $link-color;
    }
  }

  @media (min-width: 768px) {
    padding: 2em;
  }
}

.course-card-image {
  object-fit: contain;
  object-position: center center;
  height: 80px;
  width: auto;
  max-width: 120px;
}

.course-card-title {}