@media (max-width: 768px) {
  .cl-intro-1::after {
    display: none;
  }
}

.intro-overlay {
  margin-top: -50px;
}

.section-grey {
  background: #eee;
}
.content-box {

  h2 {
    font-size: 35px;
    padding: 0 20% 45px 20%;
    border-bottom: 1px solid #ccc;
    // font-family: "iowan old style";
    color: #000;
    text-align: center;
    margin: 0 0 40px 0;
  }

  padding-top: 120px;
  padding-bottom: 120px;

  img {
    border-radius: 15px;
  }

}

.overlay-box, .intro-overlay-box{
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.1);
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 30px;
  position: relative;
}

.clients {
  background: #ffffff;
  box-shadow: 0px 0px 4px 2px #eeeeee;
}

.value-proposition-list {

  li {
    list-style: none;
  }

  li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
    color: #126eb9;
    }
}

.testimonials  {
  position: relative;
  background: url(/assets/img/workshops/testimonial-annika-stille-adesso.jpg);
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
  color: white;
  @extend .py-6;

  h2, h3, h4 {
    color: white
  }

  blockquote {
    font-size: $font-size-base * 1.2;
  }

  $testimonial-start: darken($primary, 10%);
  $testimonial-end: darken($primary, 8%);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(left, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &.testimonials-dev {
    background: url(/assets/img/workshops/testimonial-christianz-janz.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 100%;

    &:before {
    background: -webkit-linear-gradient(right, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba($testimonial-start,1) 0%,rgba($testimonial-end,0.85) 34%,rgba($testimonial-end,0.75) 55%,rgba($testimonial-end,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

.why, .why-developers {
  position: relative;
  i.fa {
  font-size: 2.222rem;
  }
}

.agenda  {
    .overlay-box {
      color: black;
      padding: 10px;

      h2, h3, h4, h5, h6 {
        color: black
      }

    }
}

.workshop .btn {
  border-radius: .25rem;
}

.requirements {
  position: relative;
}

section.ratings {
  .quote {
    font-family: "PT serif";
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.4em;
    padding: 0 0 8px 0;
  }
}

.icon-1 {
  width: 64px;
  margin-bottom: 25px;
  opacity: 0.35;
}

.workshop{
  .c-badge-free {
    background-color: #ded;
    color: #060;
    font-weight: 300;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
  }

  .card.events {
    background-clip: border-box;
    border: 1px solid #efefef;
    border-radius: 3px;
  }
}