@media (max-width: 768px) {
  .cl-intro-1::after {
    display: none;
  }
}

.intro-overlay {
  margin-top: -50px;
}

.overlay-box, .intro-overlay-box{
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.1);
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 30px;
  position: relative;
}

.value-proposition-list {

  li {
    list-style: none;
  }

  li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
    color: #126eb9;
    }
}

.testimonials  {
  position: relative;
  background: url(/assets/img/workshops/annika-stille-foto.1024x1024.jpg);
  background-size: 500px;
  background-position: right top;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 50px;

  h2, h3, h4 {
    color: white
  }

  .container {
    min-height: 200px;
    padding-top: 50px;
    position: relative;
  }

  blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    border-left: .25rem solid #eceeef;
  }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(10,56,126,1);
      // opacity: .9;
      // background-color: #0d47a1;
      // background: linear-gradient(145deg, #0a387e, #126eb9);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a387e+0,0a387e+0,126eb9+34,126eb9+100&1+0,0.75+55,0+100 */
background: -moz-linear-gradient(left, rgba(10,56,126,1) 0%, rgba(18,110,185,0.85) 34%, rgba(18,110,185,0.75) 55%, rgba(18,110,185,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(10,56,126,1) 0%,rgba(18,110,185,0.85) 34%,rgba(18,110,185,0.75) 55%,rgba(18,110,185,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(10,56,126,1) 0%,rgba(18,110,185,0.85) 34%,rgba(18,110,185,0.75) 55%,rgba(18,110,185,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a387e', endColorstr='#00126eb9',GradientType=1 ); /* IE6-9 */
    }



    &.testimonials-dev {
      background: url(/assets/img/workshops/Christianz-Janz-transparent.png);
      background-repeat: no-repeat;
      background-position: left -50px;
      background-size: 500px;
      background-color: #0a387e;

      blockquote {
        border-right: .25rem solid #eceeef;
        border-left: none;
      }

      &:before {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#126eb9+0,126eb9+66,0a387e+100,0a387e+100&0+0,0.75+58,1+100 */
        background: -moz-linear-gradient(left, rgba(18,110,185,0) 0%, rgba(18,110,185,0.75) 58%, rgba(18,110,185,0.8) 66%, rgba(10,56,126,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(18,110,185,0) 0%,rgba(18,110,185,0.75) 58%,rgba(18,110,185,0.8) 66%,rgba(10,56,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(18,110,185,0) 0%,rgba(18,110,185,0.75) 58%,rgba(18,110,185,0.8) 66%,rgba(10,56,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00126eb9', endColorstr='#0a387e',GradientType=1 ); /* IE6-9 */
      }
    }
}

.why, .why-developers {
  position: relative;
  margin-top: -25px;

  i.fa {
  font-size: 2.222rem;
  }
}

.agenda  {
  position: relative;
  color: white;
  padding-bottom: 50px;

  background: url('/assets/img/workshops/attendees-coding.jpg');
  background-size: cover;
  background-position: center center;

  h2, h3, h4, h5 {
    color: white
  }
  .container {
    position: relative;
  }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #0d47a1;
      background: linear-gradient(145deg,#0a387e,#126eb9);
      opacity: 0.95;
    }

    .overlay-box {
      color: black;
      padding: 10px;

      h2, h3, h4, h5, h6 {
        color: black
      }

    }
}

.workshop .btn {
  border-radius: .25rem;
}

.trainers {
  padding-top:100px;
  padding-bottom:100px;

  position: relative;
  .container {
    position: relative;
  }

  .image {
    width: 100%;
    height: 200px;
  }
  .radio {
    /*display: none;*/
  }
  .images {
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: -40px;
  }
  .images-inner {
    width: 500%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
  .image-slide {
    width: 20%;
    float: left;
  }
  .image-slide,
  .fake-radio,
  .radio-btn {
    transition: all 0.5s ease-out;
  }




  /* Move slides overflowed container */
  #slide1:checked ~ .images .images-inner {
    margin-left: 0;
  }
  #slide2:checked ~ .images .images-inner {
    margin-left: -100%;
  }
  #slide3:checked ~ .images .images-inner {
    margin-left: -200%;
  }




  /* Color of bullets */
  #slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
  #slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
  #slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {
    background: red;
  }
  .radio-btn {
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background: gray;
    display: inline-block !important;
    margin: 0 1px;
    cursor: pointer;
  }
  /* Color of bullets - END */




  /* Text of slides */
  #slide1:checked ~ .labels .label:nth-child(1),
  #slide2:checked ~ .labels .label:nth-child(2),
  #slide3:checked ~ .labels .label:nth-child(3) {
    opacity: 1;
  }

  .label {
    opacity: 0;
    position: absolute;
  }
  /* Text of slides - END */



  /* Calculate AUTOPLAY for SLIDES */
  @keyframes slide {
    0%, 25.203252032520325%	{ margin-left: 0; }
    50.333333333333336%, 75.53658536585366%	{ margin-left: -100%; }
  }


  // .st-slider > #play1:checked ~ .images .images-inner {
  //   animation: slide 12300ms infinite;
  // }
  /* Calculate AUTOPLAY for SLIDES - END */





  /* Calculate AUTOPLAY for CAPTION */
  @keyframes caption {
    0%, 33.32333333333334%	{
      opacity: 1;
    }
    33.333333333333336%, 100% {
      opacity: 0;
    }
  }


  #play1:checked ~ .labels .label:nth-child(1) {
    animation: caption 12300ms infinite -1000ms;
  }

  #play1:checked ~ .labels .label:nth-child(2) {
    animation: caption 12300ms infinite 3100ms;
  }

  #play1:checked ~ .labels .label:nth-child(3) {
    animation: caption 12300ms infinite 7200ms;
  }
  /* Calculate AUTOPLAY for CAPTION - END */

}

.requirements {
  position: relative;
}