footer {
  color: $footer-color;
  background-color: $footer-background;
  padding: $spacer*3 0 $spacer*4;

  li a { font-size: $small-font-size; }

  a {
    color: $footer-link-color !important;

    &:hover,
    &:focus {
      color: $footer-link-color-hover !important;
      text-decoration: underline;
    }
  }
}
