.gsc-control-cse { font-size: 18px !important; }
.gsc-result .gs-title {
  height: inherit !important;
  // font-size: 18px !important;
}
.gs-result .gs-title { text-decoration: none !important; }
.gsc-control-cse .gs-result .gs-title * {
  font-size: 18px !important;
}

.gsc-url-top { font-size: 14px !important; }

a.gs-title {
  @extend .h4;
  color: #373a3c;
}

.gs-image {
  display: block;
  border: none !important;
}

a.gs-image {
  padding-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.gsc-cursor-box { text-align: center !important; }
