.header {
  position: relative;
  margin-bottom: 20px;

  .page-header {
    color: #eee;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .15);
  }

  &.header-default {
    padding-bottom: 10px;
    padding-top: 1px;
    box-shadow: 0px 0px 20px #aaa;
    color: #fff;
  }

  &.header-tutorials {
    background-color: #fcfcfc;
    border-bottom: 1px solid #efefef;
    color: #333;
    padding-bottom: 15px;
    padding-top: 140px;
    margin-bottom: 40px;
  }

  &.header-tutorials {
    padding: $spacer*11 0 $spacer*4;
    margin-bottom: $spacer*4;
  }

  &.header-post {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background-size: cover;
    background-position: center;
    min-height: 200px;

    .header-post-title {
      color: #fff;
      padding-top: 15px;
      font-size: 250%;
    }
    .header-post-author {
      margin-bottom: 30px;
    }
  }

  &.header-homepage {
    background-color: #fcfcfc;
    border-bottom: 1px solid #efefef;
    color: #333;
    padding-bottom: 15px;
    padding-top: 140px;
    margin-bottom: 40px;
    background: url('/assets/img/headers/header-bg-home.png');
    background-size: cover;
    background-position: center center;
    color: #333;
    padding: $spacer*11 0 $spacer*6;

    .header-homepage-title {
      line-height: 4.5rem;
      font-weight: 600;
    }
  }

  &.header-gradient-overlay {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom, transparent, #333);
      opacity: .4;
    }
  }
}

.header-workshop {
  background-color: #fcfcfc;
  border-bottom: 1px solid #efefef;
  color: #333;
  padding-top: 140px;
  padding-bottom: 100px;
  margin-bottom: 0px;
  background: url('/assets/img/headers/header-bg-neutral.png');
  background-size: cover;
  background-position: center center;

  .header-intro {
    font-size: 1.4rem
  }

  h1, h2 {
    color: #fff;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
    background-color: #0d47a1;
    background: linear-gradient(145deg,#0a387e,#126eb9);
  }
}


.header-workshop-advanced {
  padding-top: 140px;
  padding-bottom: 60px;
  background: url('/assets/img/headers/header-bg-team.jpg');
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;

  .header-intro {
    font-size: 1.4rem
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .94;
    background-image: linear-gradient(-180deg, #fefefe 0%, #efefef 100%);
  }
}





.header-team {
  background: url('/assets/img/headers/team.jpg');
  background-size: cover;
  background-position: center center;
  padding-top: 200px;
  padding-bottom: 100px;
}

.header-tutorials {
  background: url('/assets/img/headers/header-bg-neutral.png');
  background-size: cover;
  background-position: center center;
}


@include media-breakpoint-up(sm) {
  .header {
    &.header-post {
      min-height: 400px;
      .text-wrapper {
        position: absolute; bottom: 0; left: 0; right: 0;
      }
    }

    &.header-homepage  .header-homepage-title {
      font-size: 5rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    &.header-post {
      min-height: 300px;
      .text-wrapper {
        position: absolute; bottom: 0; left: 0; right: 0;

      }
      .header-post-title {
        font-size: 200%;
      }
    }

    &.header-homepage .header-homepage-title {
      font-size: 3rem;
      line-height: 3.0rem;
    }
  }
}

.clients-list {
  position: relative;
  border-bottom: 1px solid rgba(63,66,83,.1);
  position: relative;
  &:after {
    content: 'Unsere Kunden';
    position: absolute;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    bottom: -12px;
    left: 50%;
    background: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    color: rgba(63,66,83,.7);
    letter-spacing: 3px;
    text-align: center;
  }
}
