.img-scale {
  transition: transform .3s;

  &:hover {
    transform: scale(1.1);
  }
}

.img-grayscale-100 {
  -webkit-transition: all 300ms;
  -webkit-filter: #{ "grayscale(100%)" };
  -webkit-filter: #{ "grayscale(1)" };
  filter: #{ "grayscale(100%)" };
  filter: gray;
  opacity: 0.8;
  transition: 0.2s;

  &:hover {
    -webkit-filter: #{ "grayscale(0%)" };
    -webkit-filter: #{ "grayscale(0)" };
    filter: #{ "grayscale(0%)" };
    filter: none;
    opacity: 1
  }
}

.c-img-grayscale-70 {
  -webkit-transition: all 300ms;
  -webkit-filter: #{ "grayscale(50%)" };
  -webkit-filter: #{ "grayscale(0.5)" };
  filter: #{ "grayscale(50%)" };
  filter: gray;
  opacity: 0.8;
  transition: 0.2s;

  &:hover {
    -webkit-filter: #{ "grayscale(0%)" };
    -webkit-filter: #{ "grayscale(0)" };
    filter: #{ "grayscale(0%)" };
    filter: none;
    opacity: 1
  }
}

.img-grayscale-50 {
  -webkit-transition: all 300ms;
  -webkit-filter: #{ "grayscale(50%)" };
  -webkit-filter: #{ "grayscale(1)" };
  filter: #{ "grayscale(50%)" };
  filter: gray;
  opacity: 0.8;
  transition: 0.2s;

  &:hover {
    -webkit-filter: #{ "grayscale(0%)" };
    -webkit-filter: #{ "grayscale(0)" };
    filter: #{ "grayscale(0%)" };
    filter: none;
    opacity: 1
  }
}


.img-trainer {
  border-radius: 10%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.20);
}


.c-img-post {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 5rem;
  background-size: cover;
  background-position: center;
}
