.job {
  $b: &;

  &__container {
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    padding: 10px;
  }

  &__logo {
    img {
      // border: 1px solid #e1e1e8;
      border-radius: 4px;
      padding: 5px;
      margin: 5px;
      max-height: 135px;
      height: 100%;
    }
  }
}
