h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  word-wrap: break-word; // for mobile
}

// Misc
//==================================================
.has-navigation-fixed {}

.pt-8, .py-8 {
  padding-top: 8rem;
}

.pt-9, .py-9 {
  padding-top: 9rem;
}

.mt-8, .my-8 {
  margin-top: 8rem;
}

.text-workshops {
  color: #5ea1ee;
}

.c-post-categories {
  position: absolute;
  left: $spacer;
  top: $spacer;
  display: inline-block;
  border-radius: $border-radius-sm;
  color: $white;
  padding: 2px 5px 3px;
  font-size: 70%;
  background: rgba(41,47,56,0.3);
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  letter-spacing: 0.04em;
  max-width: calc(100% - $spacer*2);
}


.page-item.active {
  .page-link {
    background-color: $primary !important;
    color: $white;
    border-radius: $border-radius-sm;
  }
}

.c-header-dark {
  color: $light;

  h1, h2, h3, h4, h5, h6 {
    color: $light;
    text-shadow: 1px 1px 0px $dark;
  }
}

.c-text-sm {
  font-size: $small-font-size;
}

.c-badge-free {
  background-color: #ded;
  color: #060;
  font-weight: 300;
}

.c-course-img {
  width: 100%;
  height: 100px;
  max-width: 200px;
  object-fit: contain;
  object-position: top;
}

.smaller {
  font-size: 70%;
}
