.navbar-wrapper {
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.12);
}

.navbar-banner {
  font-size: 1rem;
  text-align: center;
  padding: .6rem 1.2rem;
  background-color: #fff;
}

.navbar-main {
  padding-top: .65em;
  padding-bottom: .65em;
  background-color: #dd1b17;

  .nav-link {
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(255,255,255,1);
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

    @include media-breakpoint-up(md) {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
      margin: 0 0.5rem;
    }

    &:hover {
      background: rgba(0,0,0,.15) !important;
    }
  }

  .active {
    .nav-link {
      background: rgba(0,0,0,.1);
    }
  }
}

.navbar-ajs {
  .nav-link {
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 6px;
      left: 0;
      background-color: $navbar-light-hover-color;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(0.8);
    }
  }

  .nav-item.active {
    .nav-link:before {
      visibility: visible;
      transform: scaleX(0.8);
    }
  }

  &.navbar-dark {
    .nav-link {
      &:before {
        background-color: $navbar-dark-hover-color;
      }
    }
  }
}

.form-inline .navbar-search {
  width: 2.4em;
  border: 0;
  border-radius: 9999px;
  transition: all 0.2s;

  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;

  &:focus, &:not(:placeholder-shown) {
    background-color: rgba(#000, 0.1);
    font-family: inherit;
    width: 15em;

    &::placeholder {
      color: transparent;
    }
  }
}
