.navbar-wrapper {
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.navbar-banner {
  font-size: 1rem;
  text-align: center;
  padding: .6rem 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.navbar-ajs {
  background-color: #fff;

  .nav-link {
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 6px;
      left: 0;
      background-color: $navbar-light-hover-color;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(0.8);
    }
  }

  .nav-item.active {
    .nav-link:before {
      // background-color: $red;
      visibility: visible;
      transform: scaleX(0.8);
    }
  }
}

.form-inline .navbar-search {
  width: 2.5em;
  border: 0;
  border-radius: 9999px;
  transition: all 0.2s;

  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;

  &:focus, &:not(:placeholder-shown) {
    background-color: rgba(#000, 0.1);
    font-family: inherit;
    width: 15em;

    &::placeholder {
      color: transparent;
    }
  }
}
