.ratings {
  .star {
    font-size: 1.5em;
    display: inline-block;
    color: gray;
    position:relative;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    left:0;
    right:50%;
    top:0;
    bottom:0;
    overflow: hidden;
}

  .rating-topic {
    position: relative;
    border-bottom: 1px solid rgba(63,66,83,.1);
    position: relative;
    &:after {
      content: 'Feedback';
      position: absolute;
      -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
      transform: translate(-50%,0);
      bottom: -12px;
      left: 50%;
      background: #fff;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 13px;
      color: rgba(63,66,83,.7);
      letter-spacing: 3px;
      text-align: center;
    }
  }
}