$slack-size: 20px;
$dot-diameter: 4px;
$slack-angle: 15deg;
$duration: 2s;

$slack-blue: #6ecadc;
$slack-yellow: #e9a820;
$slack-pink: #e01563;
$slack-green: #3eb991;

.slack {
  display: flex;
  align-items: center;
}

.slack-logo-animated {
  position: relative;
  width: $slack-size;
  height: $slack-size;
  transform: rotate(-$slack-angle);
  display: inline-block;
}

.slack-logo {
  margin-right: .5rem;
}

.slack-text {
  color: black;
  vertical-align: text-bottom;
}

.dot {
  display: block;
  position: absolute;
  width: $dot-diameter;
  height: $dot-diameter;
  border-radius: $dot-diameter/2;
  mix-blend-mode: multiply;
}

.dot--a {
  top: 0; left: 0;
  background-color: $slack-green;
  transform: translateX($dot-diameter);
  animation: dot--a $duration infinite;
}

.dot--b {
  top: 0; right: 0;
  background-color: $slack-blue;
  transform: translateY($dot-diameter);
  animation: dot--b $duration infinite;
}

.dot--c {
  bottom: 0; right: 0;
  background-color: $slack-yellow;
  transform: translateX(-$dot-diameter);
  animation: dot--c $duration infinite;
}

.dot--d {
  bottom: 0; left: 0;
  background-color: $slack-pink;
  transform: translateY(-$dot-diameter);
  animation: dot--d $duration infinite;
}

@keyframes dot--a {
  0% {
    top: 0;
    bottom: auto;
    height: $dot-diameter;
  }
  33% {
    top: 0;
    bottom: auto;
    height: $slack-size;
  }
  34% {
    top: auto;
    bottom: 0;
    height: $slack-size;
  }
  66% {
    top: auto;
    bottom: 0;
    height: $dot-diameter;
  }
  100% {
    top: auto;
    bottom: $slack-size - $dot-diameter;
    height: $dot-diameter;
  }
}

@keyframes dot--b {
  0% {
    right: 0;
    left: auto;
    width: $dot-diameter;
  }
  33% {
    right: 0;
    left: auto;
    width: $slack-size;
  }
  34% {
    right: auto;
    left: 0;
    width: $slack-size;
  }
  66% {
    right: auto;
    left: 0;
    width: $dot-diameter;
  }
  100% {
    right: auto;
    left: $slack-size - $dot-diameter;
    width: $dot-diameter;
  }
}

@keyframes dot--c {
  0% {
    bottom: 0;
    top: auto;
    height: $dot-diameter;
  }
  33% {
    bottom: 0;
    top: auto;
    height: $slack-size;
  }
  34% {
    bottom: auto;
    top: 0;
    height: $slack-size;
  }
  66% {
    bottom: auto;
    top: 0;
    height: $dot-diameter;
  }
  100% {
    bottom: auto;
    top: $slack-size - $dot-diameter;
    height: $dot-diameter;
  }
}

@keyframes dot--d {
  0% {
    left: 0;
    right: auto;
    width: $dot-diameter;
  }
  33% {
    left: 0;
    right: auto;
    width: $slack-size;
  }
  34% {
    left: auto;
    right: 0;
    width: $slack-size;
  }
  66% {
    left: auto;
    right: 0;
    width: $dot-diameter;
  }
  100% {
    left: auto;
    right: $slack-size - $dot-diameter;
    width: $dot-diameter;
  }
}