// Sticky utilites
// Used for course banner

.sticky {
  position: sticky;
  display: block;
}

.sticky-under-navbar {
  top: 53px;
}

// .c-top-x { top: ... }
@each $size, $length in $spacers {
  .c-top-#{$size} { top: $length; }
}
