.tutorial-pattern {
  background: #ff0000;
  width: 150px;
  min-height: 180px;

  &.pattern-1 {
    background: url('/assets/img/tutorials/pat1.png');
  }

  &.pattern-2 {
    background: url('/assets/img/tutorials/pat2.png');
  }

  &.pattern-3 {
    background: url('/assets/img/tutorials/pat3.png');
  }
}

.header-tutorials {
  background: url('/assets/img/header_tris-1.png');
  background-size: cover;
  background-position: center center;
}