.text-unstyled, a.text-unstyled {
  color: $body-color;
  &:hover { text-decoration: none; }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $body-color;
  word-wrap: break-word; // for mobile

  a {
    color: $body-color;
  }
}

.user-thumbnail img { height: auto; }

a.underlined {
  @include underline($link-color);
}

img { max-width: 100% !important; }

footer {
  color: #ccc;
  a { color: #999; }
}

// Misc
//==================================================
li code,
p code {
  background-color: #fafafa;
  border: 1px solid darken($gray-300, 10%);
  border-radius: 3px;
  color: #000;
  font-size: 12px;
  padding: 2px;
}

.body-grey {
  background-color: #f8f8f8; //#fbfbfb;
}

$circleWidth: 200;
$lineHeight: ($circleWidth / 2) + 15;

.circled-logo-wrapper {
  border-radius: 50%;
  // border: 1px solid $gray-300;
  line-height: $lineHeight + px;
  // background-color: #fbfbfb;
  width: $circleWidth + px;
  height: $circleWidth + px;
  text-align: center;
  vertical-align: middle;
  font-size: 6em;
  padding: 40px;

  .circled-logo {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.img-post {
  display: block;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}


.newspaper {
  // padding: $spacer;
  column-count: 1;
  column-gap: $spacer*2;
  // column-rule: $hr-border-width solid $hr-border-color;
}
@include media-breakpoint-up(sm) {
  .newspaper {
    column-count: 2;
  }
}


.icon-1 {
  width: 64px;
  margin-bottom: 25px;
  opacity: 0.35;
}

.workshop-hint {
  font-size: 1rem;
}


blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}


#toc {
  max-width: 200px;
}

/* Scroll with fixed header and anchor tag */
.add-anchor-fixed-header-styles {
  h2, h3 {
    padding-top: 70px; margin-top: -70px;
  }
}

