<section class="copy-section py-6 ratings" itemscope="" itemtype="http://schema.org/Product" ad-fader="">
  <script type="application/ld+json">
    {% include _course_reviews.json %}
  </script>

  <meta itemprop="name" content="{{site.data.course.name}}" />
  <div class="container">
    {% include_relative _includes/_section_header.html cols="11"
         feature="Bewertungen"
         benefit="Die Meinung unserer Teilnehmer zählt."
    %}

    <div class="row mb-6">
      <div class="col-10">
        <p itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
          Nach jeder Schulung bitten wir unsere Teilnehmer um Feedback. Aus insgesamt <span itemprop="ratingCount" content="{{site.data.course.aggregateRating.reviewCount}}">{{site.data.course.aggregateRating.reviewCount}}</span>
              abgegeben Bewertungen erreichen wir aktuell eine durchschnittliche <strong>Bewertung von
              <span itemprop="ratingValue" content="{{site.data.course.aggregateRating.ratingValue | round: 1}}">
                {{site.data.course.aggregateRating.ratingValue | round: 1 | replace: '.', ','}} Sternen.
              </span></strong>
        </p>
        <p>
          <a href="https://workshops.de/seminare-schulungen-kurse/angular-typescript/erfahrungen" target="_blank">Alle Bewertungen anzeigen &rsaquo;</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=4
            quote="Guter Workshop um einen Überblick zu bekommen, was alles mit Angular möglich ist."
            date="Berlin, 12.06.2019"
        %}
      </div>
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=5
            quote="So sollen Schulungen sein: machen Spaß und vermitteln einem gut den Stoff."
            date="München, 19.06.2019"
        %}
      </div>
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=5
            quote="Sehr guter und übersichtlicher Einblick in Angular und Typescript, hat meine Erwartungen erfüllt. Sympatischer und kompetenter Trainer."
            date="Berlin, 07.09.2019"
        %}
      </div>
      <div class="col-6 mb-5">
        {% include_relative _includes/_rating.html
            stars=5
            quote="Super-Workshop! Ich habe viel Neues in einer angenehmen Lernatmosphäre gelernt und freue mich darauf, es anwenden zu können."
            date="Koblenz, 09.09.2019"
        %}
      </div>
    </div>
  </div>
</section>
