---
header: Unsere Einsteiger Tutorials
title: Unsere Einsteiger Tutorials
permalink: /tutorials/
noindex: true
sitemap: false
---

<br>
<div class="list-group mb-5">
  {% include_relative _tutorial.html
     permalink="angular-tutorial-deutsch"
     title="<strong>Angular</strong> Grundlagen"
     description="Tutorial zu Angular - die neue Version des beliebtesten Single-Page-Application Frameworks. Die Grundlagen des Frameworks anhand eines Beispielprojektes."
     logo="angular"
     pattern="1"
  %}
  {% include_relative _tutorial.html
     permalink="ionic2-tutorial-deutsch"
     title="<strong>Ionic 2</strong> Grundlagen"
     description="Ionic 2 ist der Nachfolger des beliebten Frameworks Ionic für die Entwicklung hybrider und mobiler Apps auf Basis von Angular2. Wir helfen euch beim Start."
     logo="ionic"
     pattern="2"
  %}
  {% include_relative _tutorial.html
     permalink="angular-redux-einfuehrung"
     title="<strong>Redux</strong> Grundlagen"
     description="Redux ist eine Implementierung des Flux Patterns. Es ist dafür da, die Verwaltung von euerm ApplicationState in eine klare und wartbare Struktur zu bringen."
     logo="redux"
     pattern="3"
  %}
</div>

<br>
<div class="h2">Vorgänger-Versionen</div>
<br>

<div class="list-group mb-5">
  {% include_relative _tutorial.html
     permalink="angularjs-tutorial-deutsch"
     title="<strong>AngularJS</strong> Grundlagen"
     description="Unser Einführungstutorial in AngularJS. Lernt alle Grundlagen anhand von viele praktischen Beispielen und einer ersten eigenen Single-Page-Application."
     logo="angularjs"
     pattern="1"
  %}
  {% include_relative _tutorial.html
     permalink="ionic-tutorial-deutsch"
     title="<strong>Ionic 1</strong> Grundlagen"
     description="Unser Einführungstutorial zu Ionic erklärt euch alle wichtigen Konzepte und Bestandteile des Frameworks. Vom Erstellen des Projekts bis hin zur ersten App."
     logo="ionic1"
     pattern="2"
  %}
</div>

<br>
