<h4>Deine Trainer</h4>

<div class="row">
  <div class="col-md-6">
    <p>
      Wir sind ein Team aus Angular-Trainern, die sich über die Begeisterung für Angular gefunden haben.
    </p>
    <p class="">
        Durch den Austausch unserer gemeinsamen Erfahrungen entwickeln wir uns und unsere Schulungen ständig weiter.
        Wir entwickeln seit Jahren Angular-Projekte und lieben es unsere (guten und schlechten) Erfahrungen weiterzugeben.
    </p>
    <p class="pb-3">
        Als Mitglieder der Community findest du uns regelmäßig auf Meetups und Konferenzen.
        An folgenden Projekten sind wir beteiligt und organisieren diese mit:

        <a href="https://angularjs.de" target="_blank" class="text-dark">AngularJS.DE</a>,
        <a href="https://www.meetup.com/Hamburg-AngularJS-Meetup/" target="_blank" class="text-dark">Angular Hamburg</a>,
        <a href="https://www.meetup.com/Angular-Ruhr/" target="_blank" class="text-dark">Angular Ruhr</a>,
        <a href="https://www.meetup.com/PottJS/" target="_blank" class="text-dark">PottJS</a> und
        <a href="https://www.meetup.com/FrankenJS/" target="_blank" class="text-dark">FrankenJS</a>.

    </p>

    {% include_relative workshop/_books.html %}
    {% include_relative workshop/_projects.html %}


  </div>
  <div class="col-md-6">
      <div class="row text-center">
          <div class="col-4 mb-3">
            <img alt="Sascha Brink Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/80cf026b76f105f6e03cc2955c1d21ff?s=400"
              width="200">
            <div>Sascha Brink</div>
          </div>
          <div class="col-4 mb-3">
            <img alt="Robin Böhm Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/e9e044629f5324a4a3c27302f0d4efcc?s=400"
              width="200">
              <div>Robin Böhm</div>
          </div>
          <div class="col-4 mb-3">
              <img alt="David Müllerchen Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/a9cbad4d6a1ad2ecb26fc079e204dbb1?s=400"
                width="200">
                <div>David Müllerchen</div>
            </div>
          <div class="col-4 mb-3">
              <img alt="Peter Müller Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/ae93b93b375e9e16cd570872d52aa1d4?s=400"
                width="200">
                <div>Peter Müller</div>
            </div>
          <div class="col-4 mb-3">
            <img alt="Nico König Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/0708c6bcce8f44a15dd12ba5021dcd36?s=400"
              width="200">
              <div>Nico König</div>
          </div>
          <div class="col-4 mb-3">
            <img alt="Christian Liebel Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/55b6dbcd0b31a494564d01cd717c64f6?s=400"
              width="200">
              <div>Christian Liebel</div>
          </div>
          <div class="col-4 mb-3">
              <img alt="Aaron Czichon Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/3ccfdcfc5e4771d7a3d508b5237c4ca2?s=400"
                width="200">
                <div>Aaron Czichon</div>
            </div>
            <div class="col-4 mb-3">
                <img alt="Timo Korinth Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/0eb3b72fa2aa42cf9ac1183d7748096f?s=400"
                  width="200">
                  <div>Timo Korinth</div>
              </div>
              <div class="col-4 mb-3">
                  <img alt="Gregor Woiwode Image" class="img-grayscale-70 rounded-circle img-thumbnail mb-1" height="200" src="//www.gravatar.com/avatar/6a13335df5f4e59feb8e87609458f13d?s=400"
                    width="200">
                    <div>Gregor Woiwode</div>
                </div>
        </div>
  </div>
</div>