<script type="application/ld+json">
  {% include _events_jsonld.json %}
</script>

<script type="application/ld+json">
  {% include _course_reviews_jsonld.json %}
</script>


<section class="" style="padding: 40px 0;" id="Anfrage">
  <div class="content-box">
  <div class="container">
      <h2>Termine</h2>
    <div class="row">
      <div class="col-12">
        <div class="ws-event" data-course-id="{{ site.ws_course_id }}">
            {% include _public_events.html %}
        </div>
      </div>
      <!-- /.col~ -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
</section>
