<!DOCTYPE html>
<html lang="de">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="">

  <title>AngularJS.DE → {{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

  {% if page.noindex %}
  <meta name="robots" content="noindex, follow">
  {% else %}
  <link rel="canonical" href="{{ site.url }}{{ page.url}}">
  {% endif %}

  <!-- Facebook Tags -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="AngularJS.DE" />

  {% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
  {% endif %}

  <meta property="og:url" content="{{ site.url }}{{ page.url}}" />
  {% if page.layout == "post" %}
    <meta property="og:type" content="article" />
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}

  {% if page.header_image %}
    <meta property="og:image" content="{{ site.url }}{{ page.header_image }}" />
  {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/img/facebook-share.png" />
  {% endif %}

  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="AngularJS.DE">
  <meta name="twitter:site" content="@angularjs_de">
  <meta name="twitter:creator" content="@angularjs_de">
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% endif %}
  {% if page.header_image %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.header_image }}">
  {% else %}
    <meta property="twitter:image" content="{{ site.url }}/assets/img/facebook-share.png" />
  {% endif %}

  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/app.css">
  {% include _ga.html %}
</head>

<body>
  {% include _navigation.html %}

  {{content}}

  {% include _footer.html %}
  {% include _seo_helper.html %}

  <!-- JavaScript -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.6/bootstrap-native-v4.min.js"></script>
</body>
</html>
