<!DOCTYPE html>
<html lang="de">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="">

  <title>{{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

  {% if page.noindex %}
  <meta name="robots" content="noindex, follow">
  {% else %}
  <!-- Use canonical_url if available is post -->
  {% if page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url }}">
  {% else %}
  <link rel="canonical" href="{{ site.url }}{{ page.url}}">
  {% endif %}
  {% endif %}



  {% include _social_meta_tags.html %}

  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/app.css?{{site.time | date: '%s%N'}}">
  {% include _ga.html %}
  {% include _hotjar.html %}
  {% include _breadcrumbs_jsonld.html %}
</head>

<!-- Position relative is for Bootstrap TOC Plugin -->

<body class="has-navigation-fixed" style="position: relative" data-spy="scroll" data-target="#toc">
  {% include _navigation.html %}

  {{content}}

  {% include _newsletter.html %}
  {% include _footer.html %}
  {% include _seo_helper.html %}
  {% include _lazy-load.html %}

  <!-- JavaScript -->
  <script src="/assets/js/vendor/jquery-3.2.1.slim.min.js"></script>
  <script src="/assets/js/vendor/bootstrap-4.1.1.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="/assets/js/vendor/headroom-0.9.4.min.js"></script>
  <script src="/assets/js/vendor/cookieconsent-3.1.1.min.js"></script>
  <script src="/assets/js/app.js"></script>
  {% if page.toc %}
  <script src="/assets/js/vendor/bootstrap-toc-1.0.0.min.js"></script>
  {% endif %}
  {% include _cookieconsent.html %}
</body>

</html>
