---
layout: base
---

<div class="header header-workshop bg-light">
  <div class="container position-relative">
      <div class="row h-100">
        <div class="col-4 d-flex">
          <img class="align-self-center" alt="{{ page.course.topic }} {{ page.course.subtitle }}" src="{{ page.course.image_url }}" title="{{ page.course.topic }} {{ page.course.subtitle }}" width="300">
        </div>
        <div class="col-8 d-flex">
            <h1 class="align-self-center display-4">
                {{ page.course.topic }}<br>
                <small style="font-weight: 600">{{ page.course.subtitle }}</small>
            </h1>
        </div>
      </div>

  </div>
</div>

<main role="main">
  {{ content }}
</main>
